[2015-12-16 04:25] pythad opened #26 "Non responsive navbar"
There is something wrong happening with the current nav bar. It has some margin collisions with the slider when it is getting smaller.

Also the logo stays fixed on smaller screens and the nav bar doesn't. It makes the site look bad at smartphones.

As I see one issue is cause because bootstrap-responsive adds:

    body {
        padding-left: 20px;
        padding-right: 20px;
    }
and I am not

[2015-12-16 18:47] seadog007 opened #34 "The links and profiles style"
The link style of student part is different with mentor part.

Mentor part: https://github.com/fossasia/gci15.fossasia.org/blob/gh-pages/index.html#L130-L144
Student part: https://github.com/fossasia/gci15.fossasia.org/blob/gh-pages/index.html#L169-L183

[2015-12-16 18:54] seadog007 commented on #26
@mariobehling So, this issue should be close, right?

Maybe next time you can write your commit title like `Fixed #issueid`, then it will be automatically close.

[2015-12-16 19:00] pythad commented on #26
@seadog007 , no, it's not fixed. Code-in image still has absolute position and looks very ugly on small screens.

[2015-12-17 00:17] Yathannsh opened #37 "Re-sizing issues"
#### The current version of website is not compatible with mobile and tablet views

#### Mobile View

![capture](https://cloud.githubusercontent.com/assets/12641346/11857682/69ed1bae-a480-11e5-8107-eda8814c59bc.PNG)

#### Tablet View
![2](https://cloud.githubusercontent.com/assets/12641346/11857692/904c0382-a480-11e5-9644-2795cabe45c1.PNG)

The assigned column widths take up a lot of space when th

[2015-12-17 02:07] MaxBorsch opened #39 "Incorrect margin sizes for container"
The margins on the left and right sides of the site are not the same size as shown in the image below. This is a problem because all of the page content is shifted slightly in a certain direction.

<img width="1274" alt="margins" src="https://cloud.githubusercontent.com/assets/2924585/11859423/9a00204a-a438-11e5-8f0c-9bef85ed9a77.png">

[2015-12-17 11:58] #34 closed

[2015-12-17 12:05] seadog007 opened #42 "The format of student Neeraj Pandey is not correct"
After #33 merged, the format of #41 is not match anymore

[2015-12-17 12:09] seadog007 opened #43 "The link of contributors' Github page is not working"
I think because some parts of link in profile yml file and the index.html are repeat in #40.

[2015-12-17 13:28] #42 closed

[2015-12-17 13:28] #43 closed

[2015-12-17 18:36] pythad opened #47 "Something wrong with avatar circles"
With recent commits the design has slightly changed and also something wrong has been done with avatar circles, there are ellipsis now and they look very bad.
![ellipsis](https://cloud.githubusercontent.com/assets/10961029/11878311/af0b9756-a4fd-11e5-9546-1f90528ae541.png)

[2015-12-17 21:09] harshkothari410 opened #49 "How to run this website ?"

[2015-12-17 21:10] harshkothari410 commented on #49
If you can provide README with this then it would be very helpful.

[2015-12-17 21:35] harshkothari410 commented on #49
You are using Jekyll. Running.

[2015-12-17 21:35] #49 closed

[2015-12-17 21:36] harshkothari410 commented on #47
I don't find this bug. Can you be more specify ?

[2015-12-17 21:39] pythad commented on #47
@harshkothari410, it seems it's fixed now. I think it existed because cloudfare had't updated stylesheets so fast, sometimes it happens. I close this.

[2015-12-17 21:39] #47 closed

[2015-12-17 22:23] #26 closed

[2015-12-17 22:23] #39 closed

[2015-12-17 22:25] pythad commented on #37
@mariobehling, this issue has been already fixed, could you close it?

[2015-12-17 22:59] seadog007 opened #53 "Icon display problem"
When the icon display, it look like very weird.
- 3:
<img width="237" alt="2015-12-17 10 51 48" src="https://cloud.githubusercontent.com/assets/5138409/11884412/a946a002-a554-11e5-9693-eb87b94b38c3.png"><img width="277" alt="2015-12-17 10 51 37" src="https://cloud.githubusercontent.com/assets/5138409/11884416/afdc4d54-a554-11e5-8736-67e88d919237.png">

- 4:
<img width="394" alt="2015-12-17 10 51 2

[2015-12-18 01:08] Meta-Maxim commented on #53
@seadog007 I'm not sure what you mean by weird, but assuming you meant the way the icons are laid out, yes I agree. Although I think it was intended to be like that. I think they would be better if they were arranged in an arch around the bottom of the circle. Like so (blue = where they should be):
<img width="356" alt="layout" src="https://cloud.githubusercontent.com/assets/2924585/11886610/f6b33

[2015-12-18 05:17] Yathannsh opened #60 "No navigation bar for mobile users"
## The website displays no navigation bar for users who have screen widths less than that of 788 px; which is basically half of the population browsing the world web or all the mobile users.
![1](https://cloud.githubusercontent.com/assets/12641346/11888858/8155eac6-a568-11e5-870c-8bc746429fb7.PNG)

[2015-12-18 05:51] Yathannsh commented on #60
Fixed this issue checkout:  #61

[2015-12-18 05:51] #60 closed

[2015-12-18 05:54] harshkothari410 commented on #37
Its fixed I guess commit #51

[2015-12-18 05:54] #37 closed

[2015-12-18 05:57] seadog007 commented on #53
I think because the center icon of first two is not really in center
<img width="296" alt="2015-12-18 1 55 38" src="https://cloud.githubusercontent.com/assets/5138409/11890434/4d8e2236-a58f-11e5-9200-6fd11734f9f8.png"><img width="307" alt="2015-12-18 1 56 34" src="https://cloud.githubusercontent.com/assets/5138409/11890436/51e5e4fe-a58f-11e5-948b-2bcf6c1d191b.png">

[2015-12-18 06:01] seadog007 commented on #53
And in the last one, the left bottom corner icon didn't match the grid.
<img width="251" alt="2015-12-18 1 59 56" src="https://cloud.githubusercontent.com/assets/5138409/11890478/ce739b42-a58f-11e5-9b44-8995364c37ee.png">

[2015-12-18 06:03] Yathannsh commented on #37
@harshkothari410 it still takes 1 scroll per member
Check this out :
![cv](https://cloud.githubusercontent.com/assets/12641346/11890496/1651388a-a57b-11e5-9e16-29b4462e48a8.PNG)

[2015-12-18 14:47] PiotrKowalski opened #63 "While clicking buttons in navbars"
While clicking buttons it shows something like this
![before](https://cloud.githubusercontent.com/assets/8452800/11899327/64422432-a59e-11e5-8fed-1e4eea662476.jpg) But it should show
![after](https://cloud.githubusercontent.com/assets/8452800/11899352/85a3a54c-a59e-11e5-8b93-6b1654614c46.jpg)

[2015-12-18 19:08] harshkothari410 opened #65 "Click on Welcome tab on Nav Bar - No action is done"

[2015-12-18 19:44] #65 closed

[2015-12-19 03:12] Meta-Maxim commented on #63
@PiotrKowalski I fixed this in pull #70 .

[2015-12-19 04:13] mariobehling commented on #63
Thanks! Great work following up. Thank you.

[2015-12-19 04:13] #63 closed

[2015-12-19 05:00] seadog007 opened #73 "Michael Jancen-Widmer's Twitter link doesn't work"
Because he pastes whole link. According the format, we only need the id.

[2015-12-19 05:05] seadog007 commented on #73
@pythad OK, your is better :D

[2015-12-19 05:05] #73 closed

[2015-12-19 11:31] sudheesh001 opened #77 "Align the footer content properly in one single line."
<img width="1438" alt="screen shot 2015-12-19 at 2 29 45 pm" src="https://cloud.githubusercontent.com/assets/4545925/11912763/0d290976-a65d-11e5-944c-1e22f9280c32.png">

The best thing to do here would be to align the social icons to the left/right and the text in the same line to the other side.

[2015-12-19 14:14] PiotrKowalski commented on #77
Do you mean something like this?
![6escgi](https://cloud.githubusercontent.com/assets/8452800/11913413/28f7e00e-a663-11e5-8193-1dd0a36c6d5c.jpg)

It repairs bad look on mobile phones too. Before PR it looks like it.
![screenshot_2015-12-19-16-20-17_1450538436431](https://cloud.githubusercontent.com/assets/8452800/11913686/8a5553fa-a66c-11e5-8928-ecb39acd5785.jpg)
After PR:
![screenshot_2015-12-19-

[2015-12-19 14:27] codethejason commented on #53
Something like this?
![image](http://puu.sh/m1hnG/56e69f26be.jpg)

[2015-12-19 14:46] PiotrKowalski opened #79 "Contributors' logo should have animation"
It should have animation like mentors' and students' logo. It looks too bad
![3e1h0w3n6](https://cloud.githubusercontent.com/assets/8452800/11913548/9a9a70ce-a667-11e5-98d9-5657c5972f3d.jpg)

[2015-12-19 14:53] seadog007 commented on #53
@codethejason I think I should look like original, but it should be align in the grid.

[2015-12-19 14:58] PiotrKowalski opened #80 "Navbar doesn't work on the mobile phone"
![screenshot_2015-12-19-15-52-20](https://cloud.githubusercontent.com/assets/8452800/11913573/b2fd2674-a668-11e5-99d1-da59d2f08ed2.png)

[2015-12-19 15:05] codethejason commented on #79
It might be designed like that to avoid repetitive information presented in the earlier sections. I do see your point as some of the contributors are neither mentors nor GCI students.

[2015-12-19 15:18] PiotrKowalski opened #81 "Social Media doesn't work on mobile phones"
DONE
![screenshot_2015-12-19-16-08-42](https://cloud.githubusercontent.com/assets/8452800/11913673/e5918a3c-a66b-11e5-840d-d7742fa11e77.png)

![screenshot_2015-12-19-16-08-52](https://cloud.githubusercontent.com/assets/8452800/11913674/e7b54d6c-a66b-11e5-8b3e-f2497433ec21.png)
Can I connect it with task later when my current task will have been approved?

[2015-12-19 17:46] seadog007 opened #84 "Icons turn into white"
If people open the link in a new tab, then the icons turn into white.
<img width="262" alt="2015-12-20 1 45 02" src="https://cloud.githubusercontent.com/assets/5138409/11914400/792f232c-a6bb-11e5-991e-5fe1f9e7e6b8.png">
It only happen on FF

[2015-12-19 17:49] seadog007 opened #85 "Icon turn into gray"
Icon turn into gray when the mouse hover onto `<a>` tag, but not `<i>` tag.
<img width="292" alt="2015-12-20 1 48 40" src="https://cloud.githubusercontent.com/assets/5138409/11914409/d45807be-a6bb-11e5-81d2-ead58315e98d.png">
<img width="258" alt="2015-12-20 1 48 48" src="https://cloud.githubusercontent.com/assets/5138409/11914411/d9021962-a6bb-11e5-81d1-9284b4fa0e18.png">

BTW, I think while icon

[2015-12-19 18:05] seadog007 opened #86 "Unnecessary padding"
<img width="1280" alt="2015-12-20 2 03 45" src="https://cloud.githubusercontent.com/assets/5138409/11914517/1087434c-a6be-11e5-9479-357d2cb6bb1c.png">

[2015-12-19 18:08] seadog007 opened #87 "G+ section align problem"
<img width="723" alt="2015-12-20 2 03 38" src="https://cloud.githubusercontent.com/assets/5138409/11914520/54d882d6-a6be-11e5-8836-937a0a635338.png">

It should be align in center, but if it can fill whole space, then it will be better.

[2015-12-19 20:59] PiotrKowalski commented on #86
I made it by accident xD I wanted only do #81 :D
http://piotrkowalski.github.io/gci15.fossasia.org/#social_media

[2015-12-19 21:55] Meta-Maxim commented on #87
@seadog007 It can't fill the whole space. Google restricts it to either a portrait (150px) or landscape (240px) size.

[2015-12-19 21:58] Meta-Maxim commented on #79
Yes, it was meant to be that way to prevent repeating the same info like @codethejason said. If there are people on it who are not in GCI/Fossasia, then we don't want to give out their information other than their Github profile since we don't know if they wanted this or not when they contributed.

[2015-12-19 22:07] #77 closed

[2015-12-19 22:11] #81 closed

[2015-12-19 22:34] #53 closed

[2015-12-19 23:49] PiotrKowalski opened #91 "Bad width to media section on mobile phones"
My code from #81 didn't repair bad scaling on mobile phones with FB, YT and G+. It looks like it:

![screenshot_2015-12-20-00-15-01](https://cloud.githubusercontent.com/assets/8452800/11915698/60f93a20-a6b3-11e5-8c10-d7d06e805aac.png)

![screenshot_2015-12-20-00-15-07](https://cloud.githubusercontent.com/assets/8452800/11915693/f7b05d5a-a6b2-11e5-8811-67ed59916d2d.png)

I didn't notice it.

[2015-12-19 23:59] #79 closed

[2015-12-20 00:05] codethejason opened #92 "Scroll Bar is Underneath Header"
The scroll bar is hidden under the header:
![image](http://puu.sh/m1j9E/de194e85d3.jpg).

It should be on top so users can click on the scroll top button to scroll up.

[2015-12-20 00:11] PiotrKowalski opened #93 "Under slideshow is white background"
Now it looks like it:
![sdaz2v](https://cloud.githubusercontent.com/assets/8452800/11915773/67f76ec0-a6b6-11e5-8286-56ce0dd182b9.jpg)

I think that better will be #424242 like main-content, or other grey color
If you think that now is better I will close a issuse

[2015-12-20 00:57] #85 closed

[2015-12-20 00:57] #92 closed

[2015-12-20 00:57] #93 closed

[2015-12-20 01:14] codethejason opened #96 "Scroll Bar Problem"
This is related to issue #92 . After adding the top margin of the body element, everything is pushed down, so the bottom scroll button cannot be clicked:

![scroll](http://puu.sh/m1RGg/e0e0f46c74.png).

[2015-12-20 04:30] Meta-Maxim commented on #96
Fixing... Have to make HTML scrollable not body, I'l  push tomorrow.

[2015-12-20 05:47] #86 closed

[2015-12-20 05:48] sudheesh001 commented on #87
I believe this is fixed, the card is center aligned.

[2015-12-20 05:48] #87 closed

[2015-12-20 08:30] pythad commented on #96
Also footer can't be seen now because of this:
![selection_010](https://cloud.githubusercontent.com/assets/10961029/11917181/b9ec2c22-a704-11e5-8c06-e00cc2d0688b.png)

[2015-12-20 08:41] #80 closed

[2015-12-20 11:28] hkminegod opened #101 "Navigation bar links does not work"
Navigation bar links will not jump to the appropriate anchors

[2015-12-20 11:34] pythad commented on #101
@hkminegod, are you sure? It seems everything works fine.

[2015-12-20 11:36] choyiny commented on #101
@pythad I am positive.

I am using Mac OSX 10.11.1 Google Chrome Version 47.0.2526.106 (64-bit). The navigation bar links does not respond at all, however the URL will change.

[2015-12-20 12:35] PiotrKowalski opened #102 "First slide isn't shown on mobile phones"
![screenshot_2015-12-20-13-32-38](https://cloud.githubusercontent.com/assets/8452800/11917991/8381ce84-a71e-11e5-81a8-b0f3950ca4ba.png)

[2015-12-20 12:42] seadog007 opened #103 "Error padding in footer section"
<img width="1280" alt="2015-12-20 8 42 04" src="https://cloud.githubusercontent.com/assets/5138409/11918017/3562d05e-a75a-11e5-8139-dd0a036da148.png">

[2015-12-20 12:42] PiotrKowalski opened #104 "Bad looking slideshow on mobile phones"
Slides titles are white so it looks bad on mobile phones if background is white.
![screenshot_2015-12-20-13-38-04_1450615137439](https://cloud.githubusercontent.com/assets/8452800/11918011/6579ec86-a71f-11e5-81e0-4ff3640db32f.jpg)
![screenshot_2015-12-20-13-38-16_1450615174958](https://cloud.githubusercontent.com/assets/8452800/11918012/6af6bf68-a71f-11e5-877f-261cd55a5d0d.jpg)

If background is d

[2015-12-20 14:22] pythad opened #110 "Not all social links have hover effects."
Github both hover and not hover effects are black.
Stackexchange and Instagram have no hover effects at all.
It would be nice if someone implemented it.

[2015-12-20 14:30] bartekjacak commented on #110
I'll do it.

[2015-12-20 14:34] tradzik commented on #110
great!

[2015-12-20 15:58] Yathannsh commented on #102
Hey @PiotrKowalski ,it works fine on my device, could you please try reload the page and check if the problem still pertain?Thanks!

[2015-12-20 16:09] mananwason commented on #102
@PiotrKowalski Works fine on my device too.

[2015-12-20 16:09] PiotrKowalski commented on #102
It depend on rotation check horizontal or vertical. Vertical is bad on my device

[2015-12-20 16:12] mananwason commented on #102
I am also using it in vertical orientation. Looks fine. Maybe some network issue?

[2015-12-20 16:12] PiotrKowalski commented on #102
Maybe, I wll check it in home

[2015-12-20 16:13] mananwason opened #114 "Youtube Placeholder not optimised for mobile"
![screenshot_20151220-213852](https://cloud.githubusercontent.com/assets/10570249/11918707/95de6c1a-a762-11e5-8560-6c0045a470a5.png)

[2015-12-20 16:14] mananwason commented on #102
:+1:

[2015-12-20 16:29] jig08 opened #116 "Google+ Social Media Placeholder not correctly aligned in Mobile Phones"
Google+ Social Media Placeholder not correctly aligned in Mobile Phones

![12398600_804854786327732_1080728109_o](https://cloud.githubusercontent.com/assets/9291400/11918762/d1178850-a764-11e5-87e5-dbc4d433b7dd.jpg)

[2015-12-20 16:34] PiotrKowalski commented on #116
#98 #91 you've just created issuse which is made

[2015-12-20 16:35] jigyasa-grover commented on #116
My bad.
Shall close it.

Thank You @PiotrKowalski for the kind information.

[2015-12-20 16:35] #116 closed

[2015-12-20 16:41] PiotrKowalski commented on #114
You've just made issuse which is solved #98 #91

[2015-12-20 16:43] mananwason commented on #114
I believe these are different.

UPDATE : yeah I see that #91 is same. I am closing this :smile:

[2015-12-20 16:45] #114 closed

[2015-12-20 16:47] PiotrKowalski commented on #114
:)

[2015-12-20 16:54] PiotrKowalski opened #118 "Bad allign twitter, FB and YT on mobile phones in horizontal rotation"
How do you think is this same issuse as #91 ? I am not sure, if yes I will close.
![screenshot_2015-12-20-17-52-51](https://cloud.githubusercontent.com/assets/8452800/11918946/6f950858-a743-11e5-8558-f8c5ef0727a8.png)
![screenshot_2015-12-20-17-53-06](https://cloud.githubusercontent.com/assets/8452800/11918947/73425e2e-a743-11e5-8381-1cb4002eca82.png)
![screenshot_2015-12-20-17-53-12](https://clou

[2015-12-20 17:15] Meta-Maxim commented on #96
@codethejason Fixed, close the issue. DEMO: http://maxborsch.github.io/gci15.fossasia.org/

[2015-12-20 17:50] seadog007 opened #121 "Slow page speed"
After lots of commits, the page loading speed is very very slow now.
![screencapture-developers-google-com-speed-pagespeed-insights-1450630390280](https://cloud.githubusercontent.com/assets/5138409/11919167/25cb04a6-a785-11e5-9dd5-fe46ba076f36.png)
![screencapture-developers-google-com-speed-pagespeed-insights-1450630395744](https://cloud.githubusercontent.com/assets/5138409/11919162/01c46282-a785

[2015-12-20 17:58] Yathannsh commented on #121
@seadog007 , for now the only way we can fix this is by optimizing images.
We can't minify CSS and JS currently as the website is in its development stage. Is there any other way you think we can solve this?

[2015-12-20 18:20] #96 closed

[2015-12-20 18:23] seadog007 commented on #121
@Yathannsh Well, maybe optimize images first, I think it is the major cause for this issue

[2015-12-20 19:16] seadog007 commented on #103
I think someone already fix this issue, but he didn't realize that.

[2015-12-20 19:16] #103 closed

[2015-12-20 21:17] #84 closed

[2015-12-20 21:17] #104 closed

[2015-12-20 21:17] #110 closed

[2015-12-20 22:41] codethejason commented on #121
I think that optimizing pictures may help, but most of the load is taken by the javascript.

![javascript](http://puu.sh/m2S32/f546818642.png)

Also, the site is using a lot of 'expensive' animations such as color transitions on hover, so that will definitely be a cause.

[2015-12-20 23:03] ghost commented on #121
Is reducing animations a possibility, because this site is almost unusable on low end phones

[2015-12-20 23:05] ghost commented on #101
@hkminegod
Running El Capitan as well & website works fine on Chrome

[2015-12-20 23:06] ghost commented on #102
I'm having the same problem on vertical orientation...

[2015-12-20 23:09] codethejason commented on #121
@funkyDunks I think that reducing animations on a device of smaller width might help with the mobile issue. For the full screen site, some animations can be made more efficient and the animations that do not add to the site can be removed.

[2015-12-20 23:12] PiotrKowalski commented on #102
Could you tell me a device?

[2015-12-20 23:56] ghost commented on #102
Yeah, Android 5.1.1 Cyanogenmod Galaxy S 5, Android 6.0.1 CyanogenMod Nexus 7, and also I checked on a lot of other mobile devices (Android & iOS 9.1.2) and all of them had the first slide missing. This is definitely an issue

[2015-12-20 23:59] ghost commented on #102
However after reloading/waiting a bit, all the iOS devices pulled the image. This is probably an issue with the site's weight/size (#121)

[2015-12-21 00:02] ghost commented on #102
Sorry to spam, but landscape mode doesn't help on some devices

[2015-12-21 00:07] ghost commented on #121
Do you want to go smaller width or take out animations based on if it's a mobile browser... I'm focussing mostly on the mobile aspect though

[2015-12-21 00:31] codethejason commented on #121
What do you mean by smaller width?

[2015-12-21 01:03] ghost commented on #121
You said reducing animations on a device of smaller width, so I assumed you meant detecting the window width & determining animations from there

[2015-12-21 01:07] ghost commented on #101
@hkminegod The website is pretty heavy, which causes a significant delay in the beginning. However, I did not notice any issues on the setup mentioned above. This is likely not an issue with the website.

[2015-12-21 01:34] codethejason commented on #121
In my opinion it would be best based off of width. It's not always reliable to detect mobile browsers.

[2015-12-21 01:43] ghost commented on #121
Can I go ahead and limit animations based on width?

[2015-12-21 02:02] codethejason commented on #121
You can submit any changes you'd like and then the FOSSASIA mentors will review your PR.

[2015-12-21 02:24] Meta-Maxim commented on #121
Animations aren't the main cause for the slowness, the member images are. You can tell because if you reload the page with cache cleared it will lag until all of the images are loaded.
Solutions:
1. Reduce image quality / size, increase compression
2. Make each list of members collapsable, so it only shows the first 2-3 rows by default, like the Show More Info menu on a Code-In task shown here:
<i

[2015-12-21 03:00] Meta-Maxim commented on #121
Whoohoo, it worked! I just doubled the loading speed with my dynamic image loading script.
Results:
<img width="1229" alt="results" src="https://cloud.githubusercontent.com/assets/2924585/11922465/0d469672-a765-11e5-8fbf-193b29cc8dc5.png">

[2015-12-21 03:21] Meta-Maxim commented on #121
Also, I'm currently compressing all of the images, don't worry, you'll all still look the same :) (lossless)

[2015-12-21 03:29] codethejason commented on #121
Although the experience isn't as fluid as before on a desktop site since some images take about 1 second to load, I think dynamic image loading should definitely be implemented. Plus, after the images are compressed, they should load faster.

[2015-12-21 03:33] Meta-Maxim commented on #121
@codethejason Yes, I noticed that too. That's why I immediately took to compressing them all. Some of the student images are over 1000x1000 in size .-. Also this is just a basic loader that I made in a few minutes, I'll make it load the images a little out of the view so that you don't see them load. Also, if we implement the collapsable panels it will work even better.

[2015-12-21 03:36] funkyDunks commented on #121
The dynamic image loading is great, and the images definitely need to be compressed (I just realized some were at 6000x4000). The tabs should definitely be implemented, because the experience on mobile is kind of sucks right now.

[2015-12-21 03:38] codethejason commented on #121
I, however, do not agree with the section collapse (hiding rows of members) unless the order of the members is random. No matter what the order a student is on the list, he or she should have an equal chance of being viewed. I will push a change that makes the icons smaller on mobile sites though (with lossless image compression it should load fine - if it doesn't we can change it). This is more o

[2015-12-21 03:39] ghost commented on #121
#102 has been fixed by your implementation

[2015-12-21 03:39] Meta-Maxim commented on #121
@codethejason Yeah I just realized that as I posted it :P Nvm about collapsable tabs.

[2015-12-21 03:40] Meta-Maxim commented on #121
@codethejason Also yes, if you make the browser window medium, tablet size, the member images are stretched too far to around 500x500 and turn huge.... Should be fixed.

[2015-12-21 03:42] codethejason commented on #121
@MaxBorsch Yep, I'll get a fix by today.

[2015-12-21 03:49] Yathannsh commented on #121
@MaxBorsch , compressing the available images is feasible but one can't keep compressing images of all the members that will enroll. How about we integrate  a PageSpeed Module to auto-optimize images?

[2015-12-21 03:53] Meta-Maxim commented on #121
@Yathannsh How would you implement that in Github pages / Jekyll? Also, it says in the task to make the image the same size and ratio, however I didn't foresee this when I created the first image which was like 600x600, and so everyone else followed and made theirs likewise. Now that all are the new 300x300 size, people will be required by the task to make their image the same size. Also yeah, I'm

[2015-12-21 04:14] Yathannsh commented on #121
@MaxBorsch, I am not sure about implementing PageSpeed on Github pages but it can be implemented on http://gci15.fossasia.org/ atleast. Size/dimensions of the image issue is not issue, I was talking about quality, well now that you have compressed most of them go ahead!

[2015-12-21 05:01] codethejason opened #131 "Icons too large"
Discussed in Issue #121. Icons should not take the full width of the browser when user is using mobile site.
![mobile site](http://puu.sh/m3d47/5a99b15782.jpg)

[2015-12-21 05:16] seadog007 opened #132 "Padding not equal"
The padding between footer and social media section
<img width="1280" alt="2015-12-21 1 16 24" src="https://cloud.githubusercontent.com/assets/5138409/11923937/168bf9b8-a7e5-11e5-908d-a0864dd517ca.png">
should equal the padding between slide and mentor section
<img width="1280" alt="2015-12-21 1 16 29" src="https://cloud.githubusercontent.com/assets/5138409/11923933/1317f26e-a7e5-11e5-8979-1d0ee52

[2015-12-21 05:47] PiotrKowalski commented on #102
There is option called 'edit', a new info you can add after 'ps:' ;)

[2015-12-21 06:56] MaxBorsch opened #136 "Known Dynamic Img Load Bugs"
These are a few bugs that I'm aware of and working on, just so that you guys don't repost them:

1. Images only update on scroll event, so if you load page to a certain anchor the images don't load until you scroll.
2. Images can sometimes be seen loading if you scroll quickly.
3. Slight lag since I'm parsing / selecting a lot of elements every scroll update.

I already have a solution for all of

[2015-12-21 09:07] roonyh opened #139 "Take contributors' details from Github API"
Maintaining a `contributors.yml` file is unnecessary when we can dynamically get the info from the github api from the client side. Thoughts?

[2015-12-21 09:12] jigyasa-grover commented on #139
+1

[2015-12-21 09:12] mananwason commented on #139
Actually I was thinking of the same. Why do it manually if we can get the Contributors from the GitHub API? But then there's the question of responsiveness of the website. Already it is getting pretty slow.

[2015-12-21 09:20] PiotrKowalski commented on #139
We have to take only id and login from api.  What can we use for that?
PS: link to Git API https://api.github.com/repos/fossasia/gci15.fossasia.org/contributors

[2015-12-21 09:43] roonyh commented on #139
@PiotrKowalski I guess we can't limit returned fields for each contributor. But thats not a problem is it? Its a single request. https://developer.github.com/v3/repos/#list-contributors
Thats probably the api endpoint you use to create `contributors.yml`?

[2015-12-21 10:02] PiotrKowalski commented on #139
I thought that there is solution to take only variables. And yes, it is website from I add contributors to contributors.yml

[2015-12-21 10:17] seadog007 commented on #139
OK, I will do that

On Monday, 21 December 2015, Piotr Kowalski notifications@github.com
wrote:

[2015-12-21 10:26] samarsault commented on #139
+1

[2015-12-21 11:22] roonyh opened #140 "Reduce slider image sizes"
I can see some work is being done in #121 regarding page speed. Shall we start with reducing images sizes in the slider. Its fine even if we lose the quality because some images are just huge. For example [this one](https://github.com/fossasia/gci15.fossasia.org/blob/gh-pages/img/community.jpg) is 2.7MB! If someone is already upto this feel free to loose some quality.

[2015-12-21 11:22] roonyh commented on #140
We could get a decent result with images around 300KB. Can't we?

[2015-12-21 12:12] Yathannsh commented on #140
I have compressed them and made them around 400KB, as going less than 400KB is compromising on quality.

[2015-12-21 13:10] #140 closed

[2015-12-21 13:14] jig08 opened #142 "Clicking on 'FOSSASIA' on the navigation bar leads to nowhere."
Clicking on 'FOSSASIA' on the navigation bar leads to nowhere.

It could be linked to [FOSSASIA Main Website](http://fossasia.org/) or to [FOSSASIA Google Code-In 2015-2016 Home](http://gci15.fossasia.org/).

[2015-12-21 13:59] seadog007 commented on #121
Good job, guys :D
until commit 799fccd
the page speed became
![photo_2015-12-21_21-51-48](https://cloud.githubusercontent.com/assets/5138409/11932017/1b3ca532-a82d-11e5-9862-c4abf5435854.jpg)
![photo_2015-12-21_21-58-43](https://cloud.githubusercontent.com/assets/5138409/11932146/06ba8c18-a82e-11e5-8375-e6decba4f122.jpg)

It increase a lot, but the mobile UX score decrease a little bit :P

[2015-12-21 14:21] #142 closed

[2015-12-21 14:32] jig08 opened #144 "Missing Google+placeholder in mobile phones"
As for desktop website there are placeholders for Twitter, Facebook, Google+ and YouTube, the Google+ one is missing when viewed on mobile phones.

Device: Motorola G 2nd Generation,  5.00-inch touchscreen display with a resolution of 720 pixels by 1280 pixels at a PPI of 294 pixels per inch.

![12422056_805407439605800_1852005757_o](https://cloud.githubusercontent.com/assets/9291400/11932742/91cb

[2015-12-21 14:52] Yathannsh commented on #144
Hi @jig08 , it works fine on my device. What device did you use to view this?
![a6089063-cd3e-4317-918b-749058a90a5d](https://cloud.githubusercontent.com/assets/12641346/11933061/8a435a88-a81f-11e5-821b-fe6981ebcb0e.jpg)

[2015-12-21 15:08] jig08 commented on #144
@Yathannsh Checked it on Motorola G2 2nd Generation, ain't working.

[2015-12-21 15:14] seadog007 commented on #144
@jig08 I think you should give the resolution of your device, not the device model :D

[2015-12-21 15:38] jigyasa-grover commented on #144
@seadog007 updated.

[2015-12-21 16:44] PiotrKowalski opened #148 "Footer padding on mobile phones"
I think that there should be bigger break beetwen them and margin bottom is too big
![screenshot_2015-12-21-17-42-22](https://cloud.githubusercontent.com/assets/8452800/11935834/603ad898-a80a-11e5-89f4-3ac9419e83f5.png)
Everything here is on bootstrap so I suggest you to add icons margin bottom and delete <p> bottom

[2015-12-21 16:51] jigyasa-grover commented on #148
Its varying from device to device, I suppose

![12422056_805407439605800_1852005757_o](https://cloud.githubusercontent.com/assets/9291400/11936022/3b2e6e8a-a831-11e5-846f-20c1fae73447.jpg)

[2015-12-21 17:37] #139 closed

[2015-12-21 17:44] #131 closed

[2015-12-21 18:33] MaxBorsch opened #152 "Favicon Contest"
This has been annoying me for a while now, every time I open the website log I see:
<img width="1273" alt="favicon" src="https://cloud.githubusercontent.com/assets/2924585/11938195/12231b70-a7e7-11e5-9761-c1ebdc8fd110.png">
I say it's time we put an end to this. If you have an idea for a favicon, or a complete drawing, post it here. Remember to make it have the ratio 1:1 (square). We will then dec

[2015-12-21 19:31] ghost commented on #102
I know, but on mobile, I first have to click desktop mode & then press edit, tbh I'm just lazy... More importantly this issue seems to have been solved

[2015-12-21 19:37] ghost commented on #148
Could it be the on screen buttons

[2015-12-21 19:48] PiotrKowalski commented on #102
So, it seems to be solved. I was waiting to refference this issuse with PR so :P

[2015-12-21 19:48] #102 closed

[2015-12-21 20:10] pythad commented on #152
I think we have to stick with the previous one. It suits the theme very well.

[2015-12-21 20:34] pythad opened #156 "Navbar titles are too big"
With the change of fonts titles in the navbar became too messy and take much place now, especially on tablet screens:
![selection_011](https://cloud.githubusercontent.com/assets/10961029/11940566/3288f362-a832-11e5-9814-d6f3387ec549.png)
![selection_012](https://cloud.githubusercontent.com/assets/10961029/11940597/5cc8ce54-a832-11e5-9653-0ac2638f6f13.png)
which makes it very hard to view the websi

[2015-12-21 20:45] pythad opened #157 "Navbar hamburger has disappeared"
There is no navbar hamburger on the main screen of the site now:
![f2mlhby4qzm](https://cloud.githubusercontent.com/assets/10961029/11940871/1245175a-a834-11e5-8eae-7ce1699a5c5f.jpg)
It changes its positions:
![g-axqsunufk](https://cloud.githubusercontent.com/assets/10961029/11940884/2cf42096-a834-11e5-8a85-4f3ef374be0c.jpg)

**But actually it works okay from the browser's adaptive view.**

Could

[2015-12-21 20:52] Meta-Maxim commented on #152
Ok, I'll make it have transparent bkg and pull. If anyone gets a better idea post it here.

[2015-12-21 21:14] PiotrKowalski commented on #157
1+

[2015-12-22 03:29] codethejason opened #159 "Thank you translations are not lining up"
Each translation is not vertically centered with the parent div when it displays.

![vertical](http://puu.sh/m4l70/e4fa83e0bb.png)

[2015-12-22 03:42] codethejason commented on #159
Making a PR at the moment.

[2015-12-22 12:55] AaskaShah opened #165 "Google Code In padding not same."
The padding of google code in is not same as others.
Google Code-In:
![screenshot from 2015-12-22 17 40 40](https://cloud.githubusercontent.com/assets/11875217/11955518/9811e7b0-a8d8-11e5-9a39-8536c9f68320.png)

Any other:
![screenshot from 2015-12-22 18 21 51](https://cloud.githubusercontent.com/assets/11875217/11955583/201d8a88-a8d9-11e5-9d74-1756a39ad0ad.png)

[2015-12-22 16:07] hkminegod opened #167 "https website not secure"
Suggest to change all links to external sites to use https:// instead of http://

[2015-12-22 16:13] seadog007 commented on #167
These website don't need too much security.
And I think there is only one link that can change to https
https://github.com/fossasia/gci15.fossasia.org/blob/gh-pages/index.html#L355

[2015-12-22 16:14] choyiny commented on #167
and links to css and js files

Though I agree with you that websites don't need too much security, having all links with https is better than half https and half http, in my opinion.

[2015-12-22 18:33] roonyh opened #170 "Create a service to get a demo url"
When contributors submit PRs we can use their own fork to get a preview. Which is at usually at  `http://<github-id>.github.io/gci15.fossasia.org`. Instead of manually adding the url we can make a service do it for us.

[2015-12-22 18:34] roonyh commented on #170
I created a gci task for this work. I think it will be challenging and interesting :)
https://codein.withgoogle.com/tasks/6145990943834112/

[2015-12-22 18:37] roonyh commented on #101
This is probably because website not being loaded completely when clicked on links. Will close for now. Reopen if you continue to see it.

[2015-12-22 18:37] #101 closed

[2015-12-22 18:43] roonyh commented on #152
I can see this has been done! (f238973220f9ca38f9fc6f) I will close this. Thanks @MaxBorsch !

[2015-12-22 18:43] #152 closed

[2015-12-22 19:30] stenvanhouwelingen commented on #167
I fixed it here https://github.com/fossasia/gci15.fossasia.org/pull/196

[2015-12-23 01:40] funkyDunks opened #179 "Feature the FOSSASIA Google Code In Projects on the website"
I see that there is a Student Gallery, but I was wondering if adding a specialized area for the relatively simple projects on Google Code In could be a possibility. I honestly don't know whether the Student Gallery was made for this purpose, but adding student projects would allow potentially new students to see actual examples of the tasks involved, giving way to a higher participation rate. Also

[2015-12-23 03:08] codethejason commented on #179
I think the student projects should all be put into one category. The student gallery seems apt; we don't want to have _too_ many sections.

[2015-12-23 03:27] #179 closed

[2015-12-23 05:32] #159 closed

[2015-12-23 05:33] codethejason commented on #148
After the displaying G+ iframe issue is resolved, this one should also be resolved.

[2015-12-23 06:19] roonyh commented on #159
@codethejason Thanks for fixing this. the section looks much better now!! At the moment it scrolls back to the top at the end. Can we make it go round? Like after the last one the first one comes again? I haven't check the code yet so I don't know if its possible at all :)

[2015-12-23 14:21] aayusharora commented on #148
Hi,@jig08, I want to work on it ,Can you assign it to me ?

[2015-12-23 20:41] Meta-Maxim commented on #136
Fixed in #176

[2015-12-23 20:41] #136 closed

[2015-12-24 07:48] yasoob commented on #132
I would love to work on this issue :+1:

[2015-12-24 11:24] #132 closed

[2015-12-24 12:10] #148 closed

[2015-12-24 14:25] yasoob commented on #132
This issue has not been resolved. Can we please reopen it? @jig08

[2015-12-24 15:14] roonyh commented on #170
I find something like this to be really useful. I thought this will be an interesting task to @fossasia/fossasia-gci-students  You have any feedback?

[2015-12-24 15:19] namanyayg commented on #170
The new GCI looks so interesting!

I'm a bit confused _when_ the comment should be made. Is it only once, when the issue is opened? If that's so, I think adding https://developer.github.com/v3/activity/events/types/#issuesevent link somewhere will be helpful to clarify things.

[2015-12-24 15:23] yasoob commented on #157
I have made a fix. I will submit a pull request shortly! :+1:

[2015-12-24 15:23] roonyh commented on #170
@namanyayg hey good to see you :) The comment should be made once when the pull request is made. I added some info on the linked task.

[2015-12-24 15:24] namanyayg commented on #170
@roonyh Likewise :)

Sweet! I think this is one really interesting task.

[2015-12-24 15:26] PolBaladas commented on #170
Nice! Interesting task from the work automation perspective.

[2015-12-24 15:32] yasoob commented on #170
So you want that when a student submits a pull request. A bot posts a
comment stating the url of the student's gh-pages' external url so that you
can quickly view the changes which he made. Right?

I want one or two clarifications. If a student pushes code to a `patch`
branch and submits a pull request using that branch then what? Those
changes would not be reflected on the gh-pages branch of the

[2015-12-24 15:35] roonyh opened #194 "Add Continuous integration"
We can add a continuous integration service like [Travis](https://travis-ci.org/) or [Circle-CI](https://circleci.com/). Most important thing we can test is if the site builds with Jekyll. We can also check if the image is 300x300.

[2015-12-24 15:40] roonyh commented on #170
Right! :+1:

Good question! The bot should check if the base branch is `gh-pages` and only go ahead if it is.

[2015-12-24 16:22] aayusharora commented on #165
@AaskaShah  ,I think it depends on the number of lines between heading and the button at the bottom ,more the lines more be the upward ness of heading ,The only possibility is to decrease the space between content and heading.Check  #195 pull request.

[2015-12-24 16:55] #157 closed

[2015-12-24 17:00] yasoob commented on #194
We can use Travis for this purpose. Jekyll has [official docs](http://jekyllrb.com/docs/continuous-integration/) for this purpose as well. :+1: And can you kindly check my performance on [this task](https://codein.withgoogle.com/dashboard/task-instances/5403396626448384/?sp-page=1)? :smile:

[2015-12-24 17:04] yasoob commented on #157
dun-dana-dun! Issue resolved! :dancer:

[2015-12-24 17:19] jigyasa-grover commented on #194
+1 @roonyh

[2015-12-24 18:00] codethejason commented on #159
@roonyh I'm not sure if that's possible with the current CSS we have (have to look into it more), but it will be possible via JS. Should I create a new issue for this?

[2015-12-24 18:12] samarjeet27 commented on #194
Interested students can claim this task - https://codein.withgoogle.com/tasks/5149197082820608/

[2015-12-24 18:14] codethejason commented on #170
@roonyh Should the bot be created on this repository and if not should it be hosted on Github at all?

[2015-12-24 18:32] Yathannsh commented on #159
@roonyh , I think I can implement what you suggest  through the current CSS itself.
Should I directly create a PR or create an issue first as @codethejason suggested?

[2015-12-24 21:45] roonyh commented on #159
@Yathannsh excellent! Create an issue and make a PR.

[2015-12-24 22:12] roonyh commented on #194
@yasoob I enabled Travis. Could you make a PR adding `.travis.yml`?

[2015-12-24 22:26] Yathannsh opened #198 "Thank-You scroll doesn't display the German translation"
The current website, has a German translation for Thank-You but it is not displayed as the keyframe styles were not changed whilst it was added.
 Also the reverse scroll is way too hazy, but should look great if it is changed the way @roonyh  suggested in #159

[2015-12-25 05:57] codethejason commented on #170
Made the webhook and the service (https://github.com/codethejason/autoprresponder) and it's working for my fork (only gh-pages triggers the posting). This task took surprisingly long because Github's API is quite interesting; I actually needed to get the whole message body instead of the $_POST array. Only thing left to do is setting it up on the main repository, but I do not have permission for t

[2015-12-25 06:42] jig08 opened #205 "Missing icon for mail button"
The tiny black box under the Facebook icon has the email address of FOSSASIA for contact purposes. Right now it has a missing icon which makes it look like a faulty one (or an extra  black mark)
[refer screenshot attached]

Also it shall be great if its aligned properly or added under a separate heading of `Contact Us`.

![screenshot from 2015-12-25 12 08 51](https://cloud.githubusercontent.com/as

[2015-12-25 06:48] jigyasa-grover commented on #205
Seems to work fine here http://fossasia.github.io/gci15.fossasia.org/

Should I close this issue ?

![screenshot from 2015-12-25 12 17 52](https://cloud.githubusercontent.com/assets/9291400/12000717/96d7d5fa-ab01-11e5-92cf-f0dfc3e6d233.png)

[2015-12-25 06:51] #205 closed

[2015-12-25 08:58] roonyh commented on #170
@codethejason That looks great! I will do the hosting. Let me check it.

[2015-12-25 11:48] #198 closed

[2015-12-25 15:27] roonyh commented on #170
Very nice work. Webhook should be working. Will close this and see what others think.

[2015-12-25 15:42] #170 closed

[2015-12-25 23:27] PiotrKowalski opened #209 "Social icons"
I think that social icons are not well located. I think that it should be under links
![4bdryh](https://cloud.githubusercontent.com/assets/8452800/12004610/708fa5f6-ab67-11e5-8e20-1634e430d78e.jpg)

[2015-12-26 00:11] #167 closed

[2015-12-26 00:13] #156 closed

[2015-12-26 02:16] codethejason commented on #209
Try opening http://fossasia.github.io/gci15.fossasia.org. I don't know why the styling hasn't been applied for gci15.fossasia.org. You should see something like this:
![see something like this](http://puu.sh/m8JVN/ef2761bb42.png).

But design can still be improved. I just want to make sure you see the correct version.

[2015-12-26 08:50] #165 closed

[2015-12-26 12:16] mananwason commented on #194
@yasoob Please add `.travis.yml`

[2015-12-26 12:33] JLeow00 opened #216 "FB icon shrunk in IE"
![fossasia-gci15-facebook-ie-ss](https://cloud.githubusercontent.com/assets/4425973/12006391/d5c99802-ac0f-11e5-89e1-7ffaa3400d7a.PNG)
Facebook icon looks like this in Internet Explorer 11

[2015-12-26 16:48] #216 closed

[2015-12-26 17:43] jigyasa-grover commented on #209
Similar reason why #205 was closed.

[2015-12-26 17:45] jigyasa-grover commented on #209
Btw, I think it has been applied now.The changes are visible at http://gci15.fossasia.org/

![screenshot from 2015-12-26 23 13 36](https://cloud.githubusercontent.com/assets/9291400/12007354/62a9251a-ac26-11e5-8c94-994f48ed8ecd.png)

[2015-12-26 17:45] #209 closed

[2015-12-26 18:05] #194 closed

[2015-12-26 19:06] aayusharora commented on #209
No ,they are not applied ,check the snapshot
![6](https://cloud.githubusercontent.com/assets/12194719/12007614/d167cda2-ac31-11e5-8e48-88630db07cae.PNG)

[2015-12-26 19:11] jigyasa-grover commented on #209
@aayusharora I have attached my screenshot as well which distinctly shows the changes applied to the desktop version of [gci15.fossasia.org](http://gci15.fossasia.org/)

[2015-12-26 19:14] aayusharora commented on #209
@jig08 yes,you are very correct ,but mine is mobile version which shows it uneven ,I have corrected it here #222

[2015-12-26 19:16] aayusharora commented on #209
@jig08 ,in mobile version ,mail icon comes below

[2015-12-26 19:17] aayusharora commented on #209
http://aayusharora.github.io/gci15.fossasia.org/ ,it is corrected here ,#222

[2015-12-26 19:21] jigyasa-grover commented on #209
@aayusharora :+1:
Will review the PR #222  :)

[2015-12-27 13:41] jig08 opened #233 "Replace the Instagram icon with Flickr icon in Social Media"
The icon in social media which links to https://www.flickr.com/photos/fossasia (Added in PR #232 ) has a erroneous  Instagram icon instead of Flickr.

![screenshot from 2015-12-27 19 09 54](https://cloud.githubusercontent.com/assets/9291400/12010451/8c78b818-accd-11e5-81a4-596bda994a83.png)

[2015-12-27 14:13] #233 closed

[2015-12-27 17:16] jigyasa-grover commented on #144
Seems to have been resolved.

[2015-12-27 17:16] #144 closed

[2015-12-27 21:25] aayusharora commented on #91
I have done it here #244,it is shown in snapshot ,looks fine to me now
![9](https://cloud.githubusercontent.com/assets/12194719/12012148/5866b12e-ad0e-11e5-9026-a647c25d7858.PNG)

[2015-12-27 23:35] Yathannsh opened #246 "Thank You scroll is illegible & consists an incorrect Marathi Translation"
Recently someone has modified the scroll.js and changed the transition speed to be 750 milliseconds making the Thank-You section illegible.

[2015-12-28 01:46] roonyh commented on #246
We will look at the translation issue later but go ahead and change the transition speed back to 3000.

[2015-12-28 04:33] #246 closed

[2015-12-28 04:41] mananwason commented on #91
@aayusharora @PiotrKowalski I beleive that it has been fixed already.
![screenshot_20151228-101021](https://cloud.githubusercontent.com/assets/10570249/12014096/5581229a-ad4b-11e5-838d-240637319c5e.png)

[2015-12-28 10:14] niccokunzmann opened #250 "Not showing links of students: Facebook, twitter, github, stackoverflow, ..."
When I got to http://jleow00.github.io/gci15.fossasia.org/#students
And I put the mouse over a student
Then I want to see the icons of the students links: github, twitter, facebook, stackoverflow, ...

Currently I do not see them:
![capture](https://cloud.githubusercontent.com/assets/564768/12017275/bc9e4116-ad54-11e5-999a-96087f4a05de.PNG)

Not working for me:

- Firefox 43.0.2

Working:

- Opera

[2015-12-28 10:17] jigyasa-grover commented on #250
@niccokunzmann Could you pls elaborate and post corresponding screenshots :)

[2015-12-28 10:24] jigyasa-grover commented on #250
@niccokunzmann Works for me.
Chrome Version 47.0.2526.73 (64-bit)

![screenshot from 2015-12-28 15 53 31](https://cloud.githubusercontent.com/assets/9291400/12017334/2da12254-ad7b-11e5-93b0-c7571de7c813.png)

[2015-12-28 10:25] niccokunzmann commented on #250
Good, then I can consider it as only wrong for me. I do not know why.

[2015-12-28 10:25] #250 closed

[2015-12-28 10:27] jig08 opened #251 "Add more screenshots/images/results of completed tasks in Gallery section"
Currently there are just 3 screenshots/images/results of completed tasks in the Gallery section.
The students have completed a lot many with beautiful outputs.
Put them up for the world to see :)

[2015-12-28 10:30] jigyasa-grover commented on #250
@niccokunzmann Working perfectly in Firefox 41.0.
![screenshot from 2015-12-28 15 58 59](https://cloud.githubusercontent.com/assets/9291400/12017403/f7bf7d06-ad7b-11e5-92cf-e0b4c68ac36a.png)

[2015-12-28 12:02] aayusharora commented on #91
@manomwason,I am not sure as when I was minimising my browsers window to 321 px ,I got the gplus page loaded which I have corrected ,but in your snapshot the image is not loading its something else which comes when there is not proper loading ,pls check once again.

[2015-12-28 12:03] aayusharora commented on #91
@mananwason,I am not sure as when I was minimising my browsers window to 321 px ,I got the gplus page loaded which I have corrected ,but in your snapshot the image is not loading its something else which comes when there is not proper loading ,pls check once again.

[2015-12-28 12:18] roonyh opened #254 "Scroll animation when clicked on header links is gone"
It used to be the case that when clicked on links in the header, the page scrolled smoothly to the relevant section. Doesn't work that way now.

[2015-12-28 12:59] jigyasa-grover commented on #254
+1

[2015-12-28 14:38] Yathannsh opened #257 "Thank-You section not displaying certain translations"
Recently someone added Thank-You greats in scroll.js, but in the wrong syntax which makes the Thank-You translations for Italian, Swedish, Vietnamese & Romanian disappear.

[2015-12-28 15:16] #254 closed

[2015-12-28 15:16] #257 closed

[2015-12-28 17:36] jQwotos opened #262 "Empty space on students section"
Multiple blank spaces in students section when viewed on Mobile.
Tested on Google Chrome with Nexus 6 emulation.
![dsafdgujfas](https://cloud.githubusercontent.com/assets/15173247/12022617/74bbf27a-ad5f-11e5-8cfe-db13348927b2.PNG)

[2015-12-28 20:06] yasoob commented on #262
I am experiencing it too.

[2015-12-29 08:11] aayusharora commented on #91
@mananwason,I have also shown how it is looking on my page in my previous snapshot

[2015-12-29 08:40] mananwason commented on #91
@aayusharora what image is not being loaded in my screenshot. Could you elaborate?

[2015-12-30 09:29] aayusharora commented on #91
@mananwason ,when resizing my browsers window to mobile view ,I am getting the gplus portion like
![9](https://cloud.githubusercontent.com/assets/12194719/12048813/e5b65bf8-af05-11e5-9074-a108aeb12ec4.PNG)

[2015-12-30 09:30] aayusharora commented on #91
@mananwason ,but according to you ,it would be like ,which I think is not loading correctly
![10](https://cloud.githubusercontent.com/assets/12194719/12048831/14fe936c-af06-11e5-95b7-e45e870359b0.PNG)

[2015-12-31 07:02] johngarbi opened #270 "Overflow of mentor, student, and contributor related icons on smaller screens"
When you hover over a mentor, student, or contributor's  picture on a smaller screen.  The account icons overflow out of the picture div vertically.
![userinfooverflow](https://cloud.githubusercontent.com/assets/3885948/12062018/e21a4b5e-af59-11e5-98f1-963274b6a717.png)

[2015-12-31 18:30] Juanvulcano opened #276 "Updating nav bar"
Hi there guys, I've been thinking that the nav bar might need new colors.
I made this quick prototype of how it would look.
http://juanvhook.makes.org/goggles/juanvhooks-remix-of-gci15fossasiaorg-by-fossasia
What do you think about it?
:)

[2015-12-31 20:00] Meta-Maxim commented on #276
@Juanvulcano I don't see any changes other than making the navbar blue. It should stay white so that the GCI ribbon stands out more, and also white fits more with Fossasia's theme. If it's blue then it's harder to see it when you are in a blue-ish colored section. Also when you hover over the navbar buttons they don't change to the correct color. Also the navbar shadow is still white and it clashe

[2015-12-31 21:56] Juanvulcano commented on #276
@MaxBorsch It's just a prototype so that people can choose which color they prefer, it´s not a finished one. Using the right set of colors can really improve the design of a website. It's true that the current navbar it's just fine but it can always be improved. I personally think blue fits more with GCI theme, which is the purpose of the website. The proper colors for hovering can always be added

[2016-01-01 13:27] jig08 opened #280 "GitHub/Twitter/Facebook/Blog icons missing on hover over mentor/student; Links working"
Checked on browser:
* Chrome Version 47.0.2526.73 (64-bit)
* Firefox Version 41.0

![screenshot from 2016-01-01 18 53 35](https://cloud.githubusercontent.com/assets/9291400/12070980/1013ff68-b0b9-11e5-933d-3dae944d20f9.png)

[2016-01-02 04:42] codethejason commented on #270
@johngarbi You can close this issue now :).

[2016-01-02 05:13] #270 closed

[2016-01-02 07:39] #262 closed

[2016-01-02 07:59] jig08 opened #285 "Overlapping of names on smaller devices"
The names below the pictures in mentors/students section overlap on smaller devices (checked on a 5 inch display) in case of longer names (Screenshot attached)

![12465197_812887782191099_29521530_o](https://cloud.githubusercontent.com/assets/9291400/12073747/c7096578-b154-11e5-9831-e01c6dcb0b15.jpg)

[2016-01-02 09:18] mercuryprasad opened #286 "Mercury"
Adding my info.

[2016-01-02 09:20] jigyasa-grover commented on #286
@mercuryprasad Do you wish to send a PR to add your information ?

[2016-01-02 14:06] shashank-sharma commented on #280
I guess link is still there but the logo is not visible.

[2016-01-02 14:07] jigyasa-grover commented on #280
@shashank-sharma On Point. I will change the Issue #280 title.

[2016-01-02 14:58] mercuryprasad commented on #286
Yes. I want add my photo on FOSSASIA GCI students folder.

[2016-01-02 15:04] jigyasa-grover commented on #286
Hey @mercuryprasad , Are you new to Git/GitHub ?
You need to `Fork` this repository, add your information (`Commit`) and then send a `Pull Request`.
Creating an issue isn't required. I am closing this issue, hence.

[2016-01-02 15:04] #286 closed

[2016-01-02 15:40] sh4dowb commented on #280
Time to close this issue :D Fixed by me ^_^

[2016-01-03 04:36] aayusharora commented on #285
Hi,@jig08 consider the design #291,I think it should work.

[2016-01-03 05:43] #285 closed

[2016-01-03 05:43] #280 closed

[2016-01-03 07:57] #276 closed

[2016-01-03 13:17] mariobehling opened #295 "Create a section with loklak peers on site"
The peers API of loklak is described on the site here http://loklak.org/api.html#peers. Available peers are then listed as follows: http://www.loklak.org/api/peers.json

Please create a section on the site with an automatically updated list of peers as a table and include the IP address and "last seen" timestamp.

**Expected Outcome**

- table list of loklak peers
- list gets updated if peers is o

[2016-01-03 13:45] mariobehling opened #296 "Implement Web Tweets with loklak API instead of twitter API"
Implement a section with Web Tweets on site with loklak API (instead of twitter API). An example how it can look like here: http://fossasia.github.io/fossasia-loklak-webtweets/ [[Webtweets Repository](https://github.com/fossasia/fossasia-loklak-webtweets)] The site collects the information through the twitter API. Please implement this by using loklak. More info here http://www.loklak.org/api.html

[2016-01-04 00:40] johngarbi commented on #270
Yes, sorry for late reply. :).

[2016-01-04 13:48] pythad opened #300 "The site would look better with smooth scrolling"

[2016-01-04 14:52] mananwason commented on #300
+1 @pythad Would you like to work on it?

[2016-01-04 15:12] pythad commented on #300
It looks that there is smooth scrolling effect at the site. Probably js loaded wrong when I visited it so it didn't work. Everything is fine now.

[2016-01-04 15:12] #300 closed

[2016-01-04 16:23] aayusharora opened #303 "The contributors heading coming out of the div iphone 4 check"
![1](https://cloud.githubusercontent.com/assets/12194719/12094260/9db4a162-b32d-11e5-9c15-8c65ee6a0efe.PNG)

[2016-01-04 17:32] jigyasa-grover commented on #303
@aayusharora Would you like to work on it ?

[2016-01-04 17:37] aayusharora commented on #303
@jig08 ,yes

[2016-01-04 17:41] jigyasa-grover commented on #303
@aayusharora Go ahead.

[2016-01-04 18:36] aayusharora commented on #303
issue resolved here  #305

[2016-01-04 18:38] aayusharora commented on #303
issue resolved here  #305

[2016-01-04 19:02] #303 closed

[2016-01-05 11:03] aayusharora commented on #91
@jig08 ,@mananwason I think it is corrected now ,have checked it at many screen sizes ,we can close this.
![12](https://cloud.githubusercontent.com/assets/12194719/12113629/e1478358-b3c9-11e5-90c4-9f8de911e587.PNG)

[2016-01-05 13:03] jigyasa-grover commented on #91
Cool, closing for now.

[2016-01-05 13:03] #91 closed

[2016-01-06 05:11] Yathannsh commented on #295
This seems interesting. I was just wondering about how one can figure out peers which are online & the ones which are offline? As http://www.loklak.org/api/peers.json only shows the list of peers which are currently available.

[2016-01-06 17:50] jig08 opened #320 "Clicking on *Loklak Peers* on Nav Bar leads to nothing"
When **Loklak Peers** is clicked on Nav Bar it should lead to the corresponding section, but it isn't.

[2016-01-06 20:48] MaxBorsch opened #322 "Navar wraps to a second row on smaller screen"
The navbar links wrap to the second line when on a smaller screen. The text size should decrease on smaller screens in order to fit.

<img width="1279" alt="issue" src="https://cloud.githubusercontent.com/assets/2924585/12154408/3e86d2bc-b48d-11e5-8765-71b48c51eff7.png">

[2016-01-06 21:05] jigyasa-grover commented on #322
@MaxBorsch Would you like to work on this ?

[2016-01-07 05:15] #320 closed

[2016-01-07 14:13] YashKumarVerma opened #329 "Can't see this repository as github page when I forked it !"
I have forked this repository. It is available on my account. But when I try to view it as github page, It doesn't come-up. Please help.

Thanks in Advance

[2016-01-07 23:11] codethejason opened #336 "Take advantage of the screen for loklak section"
For the loklak section, the table is occupying about 30% of the section a 1366 x 768 display. On large screens, it would be best to wrap the table twice/thrice in order to take advantage of the extra space.

![non wrapping loklak section](http://puu.sh/mnoWG/ac0309d03c.png)

[2016-01-08 00:38] Meta-Maxim commented on #322
@jig08 Yes, I'll fix it.

[2016-01-08 03:51] anshuman73 commented on #329
Go to the settings and click on "Your site is ready to be published at ........"
And wait for 5-10 mins.

[2016-01-08 07:53] anshuman73 commented on #329
Forgot to tell you, you need to delete the cname file before you do so.
Ask for more help on irc. and see if you can close this issue. this isn't exactly an issue with the site.

[2016-01-08 08:06] roonyh commented on #329
No need to delete the cname file. It up now http://yashkumarverma.github.io/gci15.fossasia.org/

[2016-01-08 08:06] #329 closed

[2016-01-08 09:05] YashKumarVerma commented on #329
Finally. The correct method of someone wants to know (like i used to !)
- Make a change in any file to make github pages.

This is what actually worked.
(by the way @anshuman73 , the CNAME file is still there. it has no functionality until configured by domain settings.)

[2016-01-08 12:21] #336 closed

[2016-01-08 16:35] jigyasa-grover commented on #322
Go ahead @MaxBorsch

[2016-01-08 19:04] aayusharora opened #347 "Web Tweets are not responsive"
![1](https://cloud.githubusercontent.com/assets/12194719/12206775/c8507e58-b668-11e5-9059-11b48c8d5fe5.PNG)
IPHONE 4 check:
![2](https://cloud.githubusercontent.com/assets/12194719/12206898/98e62e46-b669-11e5-8256-fcd8b48a3a8e.PNG)

[2016-01-08 19:06] jigyasa-grover commented on #118
@PiotrKowalski Should we close this one as the issue seems to have been resolved ?

[2016-01-08 19:28] Meta-Maxim commented on #322
@jig08 Fixed in my latest pull. Also made it more stylish on hover.
https://github.com/fossasia/gci15.fossasia.org/issues/348

[2016-01-08 21:02] PiotrKowalski commented on #118
If it is solved, yeah I will close it. I don't follow Fossasia Page now.

[2016-01-08 21:02] #118 closed

[2016-01-09 10:25] Yathannsh opened #353 "Peers table disappearing"
The Peer-details table disappears when the count of peers is an odd number.
Thanks to @nikunjness  for spotting this at first.

![capture](https://cloud.githubusercontent.com/assets/12641346/12215567/6acc6c6c-b6e8-11e5-81d6-aa81c7ef2bcc.PNG)

[2016-01-09 10:28] jigyasa-grover commented on #347
@aayusharora Would you like to work on this ?

[2016-01-09 10:32] aayusharora commented on #347
@jig08, yes working on it.

[2016-01-09 10:34] jigyasa-grover commented on #347
Awesome !

[2016-01-09 10:35] jigyasa-grover commented on #353
@Yathannsh Would you like to work on this one ?

[2016-01-09 11:13] Yathannsh commented on #353
Sure, almost done!

[2016-01-09 13:02] #353 closed

[2016-01-09 13:05] #347 closed

[2016-01-09 13:06] jigyasa-grover commented on #347
@aayusharora Seems to have been fixed, hence closing this one.

[2016-01-09 18:47] pythad opened #357 "Gallery slider indicators take too much space"
Too many projects have been added to the gallery so that now there are too many indicators and it's hard to navigate the slider.

Possible solutions:
- Add auto scrolling functionality to the slider
- Add right and left buttons to make the navigation easier

[2016-01-09 18:49] mananwason commented on #357
+1 @pythad. I believe adding left and right buttons seems like a better solution.

[2016-01-09 18:51] roonyh commented on #357
+1 for left right buttons!

[2016-01-09 19:05] mananwason commented on #121
@seadog007 Do we need more optimisation? I think it is sufficient. Please run the benchmarks and let us know.

[2016-01-09 19:05] mananwason commented on #251
I believe we can close this.

[2016-01-09 19:05] #251 closed

[2016-01-09 19:09] mananwason commented on #295
@mariobehling I think we can close this via #312

[2016-01-09 19:09] #295 closed

[2016-01-09 19:10] #296 closed

[2016-01-09 19:14] jigyasa-grover commented on #322
@mananwason This issue has still not been resolved.

[2016-01-09 19:16] mananwason commented on #322
@jig08 I believe @MaxBorsch has already fixed it. So, that's why I closed this.

[2016-01-09 20:12] aayusharora opened #358 "Non-Responsive Tweets from loklak section"
Iphone 4 check:
![4](https://cloud.githubusercontent.com/assets/12194719/12218106/5efccb7c-b73b-11e5-8efe-602f6aed611c.PNG)

[2016-01-09 20:51] aayusharora commented on #358
solved here #359 :)

[2016-01-10 06:28] #358 closed

[2016-01-10 11:55] vicky002 opened #366 "Raheel's image missing due to change in name"
URL : http://gci15.fossasia.org/
Check the students section. Image of Raheel Saghir is broken due to change in name.

Previous image : http://gci15.fossasia.org/img/students/raheel102.jpg (Broken)
Images has been updated and name is changed to "Raheel102"

This can be easily fixed. We just need to update the name to "Raheel102"
See : http://gci15.fossasia.org/img/students/Raheel102.jpg

[2016-01-10 12:21] jigyasa-grover commented on #366
@vicky002 Would you like to work on it ?

[2016-01-10 12:21] jigyasa-grover commented on #357
+1 from me too !

[2016-01-10 12:22] jigyasa-grover commented on #357
Closed erroneously, Apologies !

[2016-01-10 12:22] vicky002 commented on #366
yeah sure. I just forked the repo. I'm on it. Facing network issues currently.

[2016-01-10 12:25] jigyasa-grover commented on #366
@vicky002 Go ahead.

[2016-01-10 12:31] vicky002 opened #367 "Things We need to do to improve the site speed"
- [x] Serve Scaled Images. - Properly sizing images can save many bytes of data.
Take an example of this image : http://gci15.fossasia.org/img/gallery/math.png  is resized in HTML or CSS from 1156x1102 to 240x240
- [x] Optimize Images -
  - Reduce the load times of pages by loading appropriately sized images.
  - Reduce file sizes based on where images will be displayed
 - Resize image files thems

[2016-01-10 12:35] jigyasa-grover commented on #367
@vicky002 Thank for your valuable input.

[2016-01-10 12:42] vicky002 commented on #367
@jig08 Should I start working on it? No one is working on optimizing images right?

[2016-01-10 13:07] tansanrao opened #368 "Missing Students and Image"
The students section has 2 missing students and a missing image.

[2016-01-10 13:08] tansanrao commented on #368
I've fixed it and sent a pull request, https://github.com/fossasia/gci15.fossasia.org/pull/364

[2016-01-10 13:17] tansanrao commented on #366
I've already done it in pull request #364

[2016-01-10 13:41] vicky002 commented on #367
Optimized around 11 images of gallery section. Student's images still need to be optimized.

See : https://github.com/fossasia/gci15.fossasia.org/commit/5bd9fbcd4fabbce267c12e86e9582287f18c1d70

[2016-01-10 16:21] jigyasa-grover commented on #366
Thanks @tansanrao .

[2016-01-10 16:21] #366 closed

[2016-01-10 16:22] #368 closed

[2016-01-10 16:53] tansanrao commented on #367
According to a Site Speed Test, the Search Query to loklak's API has a ~10second wait before loading, causing slow downs. I used the site [http://tools.pingdom.com/fpt/](http://tools.pingdom.com/fpt/) for the tests.

[2016-01-10 18:02] mariobehling opened #373 "Fix the header of loklak servers to display the correct meaning"
There are headings on the server table, where it is not clear, what exactly they are displaying. What does "Last seen" mean? Server online since? Or what exactly. Please specify.
![screenshot from 2016-01-10 19 00 26](https://cloud.githubusercontent.com/assets/1583873/12223031/882a7684-b7cc-11e5-980b-cc0985218ae8.png)

[2016-01-10 20:06] mariobehling opened #375 "Add FOSSASIA newsletter to site"
Sample code of the newsletter is below:

[code]

[2016-01-10 23:24] mariobehling opened #376 "Add a section/area Geolocation projects to the site"
Please add a static gallery of all geolocation projects of students at FOSSASIA GCI.
* Move all geolocation projects from the students gallery to this area.

[2016-01-10 23:30] mariobehling opened #377 "Add a lightweight section "Games" to the site or improve it"
* Move all student projects of games into a special dedicated section
* Ensure that the area is loading fast

[2016-01-12 00:10] jmurzaku commented on #373
@mariobehling would this work?

[2016-01-12 05:16] vicky002 commented on #367
The last issue of loklak.css is fixed in this (https://github.com/Yathannsh/gci15.fossasia.org/commit/f17084611cb5f05e5daa22fd8bf6e28e127f417a) commit.
Marking it as done.
I'm working all other fixes, @jig08 can you assign this issue to me?

[2016-01-12 11:08] abishekvashok commented on #377
I am working on it

[2016-01-12 16:17] jigyasa-grover commented on #367
Sure, Go ahead @vicky002  !

[2016-01-12 19:51] mariobehling opened #394 "Implement a dropdown menu of "Student Projects""
**Expected Outcome**
* Dropdown menu similar to fossasia.org "Events tab"
* Sub items: Gallery, Loklak Peers, Loklak Search, Student Games
* Add a separate link top tab "GCI 2014" with a link to http://gci14.fossasia.org

[2016-01-12 20:10] mariobehling opened #395 "Separate Social Media area into area for each service and improve styling"
**Expected outcome**
* Different section for each service
* Different background color for each section area
* Do not add a tab for each section into the top menu
* lolak tweets should render links
* loklak tweets should load new tweets automatically on top

[2016-01-12 20:16] mariobehling opened #396 "Reduce size of pictures to fit 6 in a row and increase number of shown contributors to "all""
Currently not all contributors are shown with their picture in GCI. Please check out the github API and increase this number to show all contributors.

Also please decrease the size of the pictures to fit more into the row. Below there are only 4 in a row in the given screen resolution.

![screenshot from 2016-01-12 21 15 33](https://cloud.githubusercontent.com/assets/1583873/12275680/ac28add4-b97

[2016-01-12 20:28] mariobehling opened #397 "Ensure all mentors are added to the site"
List of Mentors

Username, First name, Last name, Github Username
- [x] Abhishek Batra, Abhishek, Batra, @batraabhishek
- [x] Agon, André, Rebentisch, @agonarch (twitter), @tabesin (github)
- [ ] André Hentschel, André, Hentschel
- [x] Andreas Bräu, Andreas, Bräu, @andibraeu
- [ ] Arkodyuti Saha, Arkodyuti, Saha ,
- [x] Arnav Gupta, Arnav, Gupta , @championswimmer
- [x] Aruna Herath, Aruna, Herath

[2016-01-12 21:07] JamMurz commented on #377
https://github.com/fossasia/gci15.fossasia.org/pull/390 this issue was solved in this

[2016-01-12 23:17] JamMurz commented on #394
I will work on this

[2016-01-12 23:17] jmurzaku commented on #394
@mariobehling i will work on this

[2016-01-13 03:15] jig08 opened #401 "Clicking on *GCI 2014* on Nav Bar leads to 404"
When **GCI 2014** is clicked on Nav Bar it should lead to the corresponding website, but it isn't.

[2016-01-13 04:11] Meta-Maxim commented on #322
Resolved in #403

[2016-01-13 06:17] shiftsayan commented on #397
I am working on this

Could you provide the GitHub usernames of the mentors please, as it is otherwise difficult to trace each one and we cannot be sure which username is the correct one.

Also, there are a two entries in the above list for  "Mohit Kanwal". Could you please check that out?

[2016-01-13 09:12] jigyasa-grover commented on #322
Refer Issue #394  for new design.

[2016-01-13 12:36] mariobehling commented on #377
Please avoid implementing it in the same way as the student gallery and rather make a static list of projects similar to the photo list of students. The gallery implementation slows down the site and we already have a "student gallery"

[2016-01-13 13:16] #401 closed

[2016-01-13 18:10] #394 closed

[2016-01-13 18:10] yasoob commented on #375
Hey @mariobehling ! Can we create it in such a way that when the user reaches the bottom, a slider slides in with the prompt to signup? The website is already very heavy. What do you suggest?

[2016-01-13 18:33] mananwason commented on #121
I am closing this for now. The speed of the page looks fine.

[2016-01-13 18:34] Daksh opened #415 "Using this to create another website"
Well I am wanting to create a website for Google Code In 2015, for some other organisation. I know that the LICENSE, of this website does let me use the code. But I still wanted to ask if you guys would mind if the design of the website would look similar? I would be of course changing all the fossasia related content and data and replacing it by the other org's and deleting quite some stuff from

[2016-01-13 18:39] mananwason commented on #121
okay apparently speed has reduced from before, so we should be still working on this
<img width="1352" alt="screen shot 2016-01-14 at 12 05 13 am" src="https://cloud.githubusercontent.com/assets/10570249/12303849/a5abe3ea-ba52-11e5-9527-eda8114eb173.png">
<img width="1421" alt="screen shot 2016-01-14 at 12 05 22 am" src="https://cloud.githubusercontent.com/assets/10570249/12303850/a6096344-ba52-11

[2016-01-13 18:56] mananwason commented on #415
@Daksh Go ahead!! The main point of Open source is that anyone can view and use the code after giving proper credits. :smile:

[2016-01-13 19:26] #357 closed

[2016-01-13 19:29] yasoob commented on #322
I guess this issue is good to close @jig08 :+1: It was solved in #413

[2016-01-13 19:31] yasoob commented on #373
@jig08 This issue is also good to close :+1: Let's squash some issue 'eh? :smile:

[2016-01-13 19:35] mananwason commented on #373
Awesome @yasoob Closing!!

[2016-01-13 19:35] #373 closed

[2016-01-13 19:39] jigyasa-grover commented on #322
Yeah sure , Thanks for reminding :)

[2016-01-13 19:39] #322 closed

[2016-01-13 19:43] mananwason commented on #397
Awesome @shiftsayan !! I have updated the list with some of the mentors Usernames

[2016-01-13 19:45] jigyasa-grover commented on #395
- ~~Different section for each service~~
- ~~Different background color for each section area~~
- ~~Do not add a tab for each section into the top menu~~
- ~~lolak tweets should render links~~
- ~~loklak tweets should load new tweets automatically on top~~

@mariobehling I think all points have been covered now, should we close this ?

[2016-01-13 19:59] aayusharora commented on #395
![2](https://cloud.githubusercontent.com/assets/12194719/12306126/4465a204-ba5e-11e5-9698-11cc8492ee4a.PNG)
@jig08 ,Are you sure ,I mean there are not different section with different background color for social media area. Also loclak tweets are not rendering ,currently working on the same.

[2016-01-13 20:50] shiftsayan commented on #397
I have submitted PR #420 to add 12 mentors.
Will add more if I can find credible links to their profiles and as the above list is updates :)

Also, please clarify about the following entries, I guess they are repetetive.
Sean McGregor, Sean, McGregor
SeanAdmin, Sean, McGregor @smcgregor

Thanks!

[2016-01-13 22:45] aayusharora commented on #395
All solved here  #422

[2016-01-14 00:17] smcgregor commented on #397
Backstory on why I have so many names:

The GCI site has separate user accounts for admins and mentors because you cannot convert a mentor account into an admin account. So I started out with "Sean McGregor," then attempted to create an admin account under the Google apps account provided by my university, but the authentication was not working for GCI under the university account, so I created an

[2016-01-14 02:42] Daksh commented on #415
Also, I was wondering if it will be required to keep all the commit history, because I have to anyways remove a lot of things so a lot of commits would practically be undone. I will make sure to not remove any names or license from the files though.

[2016-01-14 03:04] codethejason opened #423 ""Other Links" div is not displayed properly"
In the footer, the links are squashed next to each other. Instead, they should display as one column and each link should have a dedicated line.

![links](http://puu.sh/muWd6/af5abc75d5.png)

[2016-01-14 04:59] rohythakur commented on #423
I am starting to work on this

[2016-01-14 06:48] shiftsayan opened #424 "Am I the only one for whom the dropdown in the header is not showing properly?"
<img width="1280" alt="screen shot 2016-01-14 at 12 16 40 pm" src="https://cloud.githubusercontent.com/assets/8451336/12317628/e928c7b2-bab8-11e5-8bce-748ffb367d06.png">

It is looking fine on my forks, but not on the actual site.

[2016-01-14 08:02] shiftsayan commented on #397
So, we have to add you twice to the mentor list on the website? @smcgregor

[2016-01-14 11:27] jmurzaku commented on #424
me too, this appears to be a chrome only problem for me since it works on safari and firefox.

[2016-01-14 12:25] jigyasa-grover commented on #424
+1 .

Working fine on `Firefox Version 41.0`
Erroneous display on `Chrome Version 47.0.2526.73 (64-bit)`

[2016-01-14 12:25] jigyasa-grover commented on #397
I don't think that should be done :)

[2016-01-14 12:34] shiftsayan commented on #423
<img width="1280" alt="screen shot 2016-01-14 at 6 02 22 pm" src="https://cloud.githubusercontent.com/assets/8451336/12324504/0025e334-bae9-11e5-8d10-5709380185d2.png">

It is being displayed properly on Chrome Version 47.0.2526.111 (64-bit).

Was it fixed or is it a cross-browser issue like #424 ?

[2016-01-14 15:36] yasoob commented on #395
@aayusharora IMO we should not separate them into different areas just like all other sections because:
- Firstly, the widgets would look stretched.
- The document (html page) size would increase a lot and IMO we should not increase it further. It is already very large and requires a **lot** of scrolling.

@jig08 This issue is good to close.

[2016-01-14 15:41] yasoob commented on #424
It is working fine for me on Chrome 45.x (64-bit) on Ubuntu.

![nav](http://imgur.com/DH04Aau.png)

[2016-01-14 15:42] yasoob commented on #415
@Daksh IMO it is OK to remove the commit history. Just make sure that you keep the license intact. That is the important thing :smile: Am I right @mananwason ?

[2016-01-14 16:07] shiftsayan commented on #424
I cleared my cache and tried again and it works fine! That is why it was working correctly on other browsers! @jig08

Closing.

[2016-01-14 16:07] #424 closed

[2016-01-14 16:59] Daksh commented on #415
@yasoob Alright thank you. and yes I did keep the LICENSE intact, https://github.com/Daksh/SugarLabsGCI2015
@mananwason Kindly confirm and let me know, and then I will close this issue :)

[2016-01-14 17:56] smcgregor commented on #397
I believe one entry is sufficient :)

[2016-01-14 17:59] shiftsayan commented on #397
Alrighty! Could other mentors please add their URLs so that this issue can be closed?

[2016-01-14 18:07] qubodup commented on #397
Hello, unfortunately I was busy and confused (I have never mentored any online projects and could find time to try to figure out what I was expected to do) so I ended up doing nothing so I should definitely not be given any credit for this session.

[2016-01-14 19:06] yasoob commented on #396
Just pushed a fix. Let me know if it is missing anything :smile: + GitHub caps the contributor API result to 30 entries only so we can not display all 70+ contributors here.

[2016-01-14 20:19] yasoob commented on #121
We can minify some of the not-so-regularly updated `js` and `css` files. For instance `loklak.css`, `hover.css`. Hopefully, this will further increase the page load speed.

[2016-01-14 20:26] yasoob commented on #376
@jig08 This issue was resolved in PR #431 . This issue is good to close.

[2016-01-14 20:27] #376 closed

[2016-01-15 06:43] #377 closed

[2016-01-15 06:43] #423 closed

[2016-01-15 07:41] shiftsayan opened #443 "Code-In Logo not visible on smaller screens"
![screen shot 2016-01-15 at 1 09 07 pm](https://cloud.githubusercontent.com/assets/8451336/12347990/3e6afe72-bb89-11e5-822b-25320e3c3c30.png)
![screen shot 2016-01-15 at 1 09 09 pm](https://cloud.githubusercontent.com/assets/8451336/12347989/3e69d07e-bb89-11e5-963d-011f30a2e08d.png)

Due to the changes in the title bar, the GCI Logo does not appear on smaller screens. However, on making the text s

[2016-01-15 07:58] roonyh commented on #396
@yasoob 30 is only the default. https://developer.github.com/v3/#pagination

[2016-01-15 08:03] mananwason commented on #415
Yes @Daksh you can modify the code however you like if you are giving proper credits. But as I can see, you have copied code from this repo to yours, that is not the way to use someone's code. Please create a fork of this repo and then you can work on that fork, however you like after keeping the license and giving the credits. Cheers!

[2016-01-15 08:37] Daksh commented on #415
@mananwason Alright, I can do that but there is just one mild problem there. Your repository is sort of heavy because of the data of all the students and mentors, the data as in the images. But for my current repo I would not require all those images. Adding that would increase the size of the repo and when someone clones it, though the files are not there it would clone that afaik, because it is

[2016-01-15 08:41] mananwason commented on #415
@Daksh I just mean that should fork this repo and then if you want you can remove the images, add your own.

[2016-01-15 08:42] Daksh commented on #415
@mananwason But if I do fork, and even if I delete the images, they would still be uploaded cause git keeps the history and the files which have been deleted. That would increase the repo size.

[2016-01-15 08:55] mananwason commented on #415
No @Daksh You can always configure git to not track deleted files anymore. It does keep the history but not on your machine.

[2016-01-15 08:57] Daksh commented on #415
@mananwason Can you please give me a link on how that is done? I am currently trying to rebase it and stuff but what you said seems pretty useful for me.

[2016-01-15 08:58] Daksh commented on #415
@mananwason Though note, that I would like the new files that I add and delete to still be tracked

[2016-01-15 08:59] mananwason commented on #415
Yes @Daksh. You can try [this](http://stackoverflow.com/questions/18549407/how-to-untrack-all-deleted-files-in-git) and [this](http://www.commandlinefu.com/commands/view/1246/git-remove-files-which-have-been-deleted) out.

[2016-01-15 09:20] Daksh commented on #415
@mananwason that is git add -u but that would just be for adding the files that I make in a commit, how would it remove the removed files from all the commits that have been done? I have been trying that for the past 30 minutes now. `reb` branch https://github.com/Daksh/SugarLabsGCI2015/tree/reb is what I am working on. I used the git add -u but it does not do what it is required to.

[2016-01-15 09:24] Daksh commented on #415
@mananwason I cross checked and it still downloads all the data. When I clone it on a different machine.

[2016-01-15 10:10] Daksh commented on #415
@mananwason I also tried to make a gitignore, with adding an ignore for the images folder and then rebasing alll the commits over it but the problem is that the commits in themselves have loads and loads of clashes so I could not do it http://fpaste.org/311145/14528524/ though I spent like a lot of time resolving the clashes which stopped the rebase but they are so many that I cannot resolve all o

[2016-01-15 11:40] mariobehling commented on #415
@Daksh Please go ahead and fork the repo. Of course you can also copy it, but in this case you need to find a way to keep the list of all the contributors in order to give attribution as required by the license. Cheers.

[2016-01-15 12:35] Daksh commented on #415
@mariobehling @mananwason I fixed it and now it has all the names of the contributors https://github.com/Daksh/SugarLabsGCI2015/tree/gh-pages have a look? Though it does not have the latest commits, because I have not used them.

Just fyi, I used the command `git filter-branch --tree-filter 'rm -rf img' HEAD` on the clean fork so as to remove all the images from all the commits, so that the size o

[2016-01-15 13:41] sumsupee commented on #396
I am working on this,  I will include all the contributors.

[2016-01-15 13:48] jigyasa-grover commented on #396
PR #444 fixes this.

[2016-01-15 13:48] #396 closed

[2016-01-15 13:48] sumsupee commented on #396
Fixed!

[2016-01-15 13:49] jigyasa-grover commented on #396
:+1:

[2016-01-15 16:33] samarjeet27 opened #448 "Improve dropdown menu"
The dropdown menu doesn't match with the design.
<img width="224" alt="screen shot 2016-01-15 at 10 00 26 pm" src="https://cloud.githubusercontent.com/assets/2987087/12358490/7689de64-bbd3-11e5-807a-a28c0300a429.png">
Also, it's really cluttered. Please improve that.

[2016-01-15 16:38] abishekvashok commented on #375
@mariobehling can I too try it out please! I am good at this! :) I will giv emy task id when my current task at GCI is completed so I will get the points for this issue too!

[2016-01-15 16:39] abishekvashok commented on #448
See it at Abhi2424shek.github.com/gci15.fossasia.org and check it out looks fine!

[2016-01-15 16:41] abishekvashok commented on #443
Can I work on this please have an idea in mind but in another task please wait till my task is approved then I will commit here! @shiftsayan or can I ?

[2016-01-15 16:41] samarsault commented on #448
Great ! Maybe my browser was showing me that earlier due to cache.

[2016-01-15 16:41] #448 closed

[2016-01-15 16:43] abishekvashok commented on #397
I would go with Manan Wason he's great @mariobehling (only after my current task is accepted) so please wait till then

[2016-01-15 16:48] abishekvashok commented on #448
@samarjeet27 are you a mentor for GCI

[2016-01-15 16:52] shiftsayan commented on #443
Yes, go ahead @Abhi2424shek

[2016-01-15 16:56] abishekvashok commented on #443
If you are a mentor then please accept my task after reviewing I will give link and merge my pull request (only after reviewing) so that I would submit it now itself got the code ready! :) :+1:

[2016-01-15 16:56] shiftsayan commented on #397
Manan Wason has already been added as of PR #420 . You could try the ones not checked and not included in the description of that PR.

Also could the admins please check the mentors who have been added so as to not cause confusion?
and also update the list with URLs of the few remaining?

[2016-01-15 16:56] Abhi2424shek commented on #397
Ok are you a mentor @shiftsayan

[2016-01-15 16:57] shiftsayan commented on #443
No, I am not a mentor :P

[2016-01-15 17:15] shiftsayan commented on #397
Nope @Abhi2424shek

[2016-01-15 18:35] eMBee commented on #415
it would be nice if in the readme, and possibly on the site itself (somewhere in the footer or an about page) you could mention that your site has been built based on FOSSASIAs GCI site.

to the above discussion i'd like to add that there is absolutely no license requirement to keep the history. given that with filter-branch you are rewriting every history entry anyways, i wonder if it was worth t

[2016-01-15 23:02] mariobehling opened #455 "Add both links a) web project and b) code into gallery, games and geolocation section"
Expected outcome:
- Projects should work as web links (if it is a web project, like most of them)
- There should be a link to the code as well
- These links can be shown as an overlay or below the project

[2016-01-15 23:17] mariobehling opened #456 "Create a section "lights out" of student projects with at least 10 sites done at the contest"
We had a lot of students who created sites with Javascript called "Lights Out". Find at least 10 (or more if possible) and add a screenshot, link to repository and link to the actual website to the GCI site.

Expected Outcome:

* static section "lights out"
* screenshot of projects
* link to actual site (web project) of a student
* link to code repository
* minimum 10 projects (check out what you

[2016-01-16 11:29] mananwason commented on #397
@shiftsayan Could you update the list of mentors that you have added in your PR? Thanks!

[2016-01-16 11:56] shiftsayan commented on #397
@mananwason I am unable to check the boxes, maybe I do not have the privileges to edit.
Here is the list of mentors I added across 2 PRs:
Jan Suhr
Duke Leto
Iwan Gabovitch
Kalpa Welivitigoda
Lisa Hui
Manan Wason
Rafał Kowalski
Samarjeet
Sambuddha Basu
Tymon Radzik
Anh-Tu Nguyen
Michael Peter Christen
Handoko Suwono
Abhishek Batra

[2016-01-16 12:02] mananwason commented on #397
Nice work. I have updated the list :+1:

[2016-01-16 12:31] Daksh commented on #415
@eMBee The problem is, that I had to do the filter branch, but I think it would still give the proper attributions? Because all I did was remove the images dir, and all the history and git blame works for all other files that there are in the repo. The problem with not doing the filter is that the repo size which currently is about 15 mb would bloat to about 90 mbs.

I would add the mention in the

[2016-01-16 13:58] abishekvashok commented on #397
I am really happy on your contribution @shiftsayan but be sure to leave some mentors to be added by other students ! Anyway nice Work :+1:

[2016-01-16 14:01] abishekvashok commented on #456
hey can you assign this to me @mariobehling would do it as my current ask is submitted for review (which would be mostly accepted and you too is a mentor on the task) and it would be nice if you could add another issue after this to improve the light's out section. Lastly do you want it be a photostack.js gallery (which we currently have) or another gallery type (using the photostack.js would save

[2016-01-16 14:03] abishekvashok commented on #121
@mananwason got a fix which I think would work, can I?

[2016-01-16 16:11] jmurzaku commented on #456
i claimed this task already on gci sorry @Abhi2424shek

[2016-01-16 16:33] abishekvashok commented on #456
No worries go on man! you will succeed, go ahead, best of luck

[2016-01-16 16:34] abishekvashok commented on #456
I also would get that task :) @JamMurz

[2016-01-16 16:35] jmurzaku commented on #456
@Abhi2424shek thanks, and sorry it was my fault for not writing that i claimed the task :)

[2016-01-16 17:01] jigyasa-grover commented on #121
Go ahead @Abhi2424shek

[2016-01-17 05:38] jigyasa-grover commented on #456
Seems to have been fixed.

[2016-01-17 05:38] #456 closed

[2016-01-17 05:52] vicky002 commented on #367
I optimized few more images see the commit : https://github.com/fossasia/gci15.fossasia.org/pull/464

Only two more tasks are left! :smile:

[2016-01-17 05:53] jigyasa-grover commented on #367
Awesome, Send in a PR when you are done with it :)

Edit: Just saw this PR #464 .

[2016-01-17 05:54] vicky002 commented on #367
I sent a PR check once :)

[2016-01-17 10:00] sumsupee commented on #397
Hello! I've added seven more mentors from the list.
Yeonwoon Jung
Jihye Sofia Seo
Diego Mora Cespedes
Gauthamraj Elango
Luther Goh
Diwanshi Pandey
Austin English
I could add only seven as I could not find accurate accounts on Github of the rest of the mentors who are still left out.

[2016-01-17 10:02] abishekvashok commented on #397
mention the PR link @sumsupee

[2016-01-17 10:19] Yathannsh opened #471 "Loklak Search is non-functional"
Searching a query will take you nowhere
![capture](https://cloud.githubusercontent.com/assets/12641346/12376949/c9a4189e-bd31-11e5-923f-fe222b55c099.PNG)

[2016-01-17 10:34] Yathannsh opened #473 "Section- Styling Issues"
There remains no padding between the two sections
![capture](https://cloud.githubusercontent.com/assets/12641346/12377007/849abd5a-bd33-11e5-9db0-dee92e8a0444.PNG)

Also the Lights-out section & social media section are merged together, which looks ugly.

![hg](https://cloud.githubusercontent.com/assets/12641346/12377033/e6496e34-bd33-11e5-8407-d2e0b6d71ffb.PNG)

[2016-01-17 10:39] jigyasa-grover commented on #473
@Yathannsh Would you like to work on this ?

[2016-01-17 10:41] Yathannsh commented on #473
Sure! Right onto it! :+1:

[2016-01-17 10:45] jigyasa-grover commented on #473
Awesome !

[2016-01-17 10:49] sumsupee commented on #397
@Abhi2424shek Here is the link-   https://github.com/fossasia/gci15.fossasia.org/pull/470

[2016-01-17 11:47] Yathannsh commented on #443
@shiftsayan the Code-in logo has been deliberately removed from smaller screens as it overlaps with the Navigation on devices less than a width of 768px

[2016-01-17 12:20] mariobehling opened #476 "Create a section with static gallery with student stickers made in the Privly task"
Stickers were made in this task: https://codein.withgoogle.com/tasks/5632184761188352/

[2016-01-17 12:41] Yathannsh commented on #476
Where can we find these stickers?

[2016-01-17 12:43] Yathannsh commented on #476
Where can these stickers be found?

[2016-01-17 12:46] #471 closed

[2016-01-17 12:48] jig08 opened #477 "*FOSS Quiz by Zakmon* project in *Geolocation Projects* section"
Erroneously `FOSS Quiz by Zakmon` project has been added in the `Geolocation Projects` section (refer screenshot attached).

![screenshot from 2016-01-17 18 16 32](https://cloud.githubusercontent.com/assets/9291400/12377514/b4bb2548-bd46-11e5-91b0-be68b97a4a77.png)

Edit 1: Instead of completely removing it, add it back to the `Gallery` section.
Edit 2: It already exists in `Gallery` hence only re

[2016-01-17 12:56] mariobehling opened #478 "Fix heading and reduce the size of top menu header font"
![screenshot from 2016-01-17 13 52 12](https://cloud.githubusercontent.com/assets/1583873/12377538/b9d749d2-bd21-11e5-808b-d2b0134d9e32.png)
The top heading line does not display properly on smaller screens. Also in the dropdown menu longer subheadings are not correct. See "Geolocation Projects" for example.

[2016-01-17 12:59] abishekvashok commented on #375
Working on it! @mariobehling my task id is https://codein.withgoogle.com/dashboard/task-instances/4664245534851072/?sp-page=1 , got it please assign this to me

[2016-01-17 13:05] mariobehling opened #479 "Move contributors to end and reduce to 12 in a row"
Expected Outcome

* In top menu contributors show up before GCI2014
* change to eight in a row
* section shows at the end up before bottom section

[2016-01-17 13:07] abishekvashok commented on #443
Ok @Yathannsh close this issue man!

[2016-01-17 13:07] abishekvashok commented on #397
@sumsupee Mario behling has accepted it! Keep it up! Great!

[2016-01-17 13:08] Abhi2424shek commented on #397
More help wanted! And I am there ok, @sumsupee

[2016-01-17 13:29] shashank-sharma commented on #478
@mariobehling  Will that be fine if I edit bootstrap.min.css file ?

[2016-01-17 13:40] jigyasa-grover commented on #478
@mariobehling A PR https://github.com/fossasia/gci15.fossasia.org/pull/474 was made (and merged) in this regard by @shashank-sharma and it seemed to fix the issue then

[2016-01-17 13:41] sumsupee commented on #477
@jig08 I think it is already there in the gallery. The same image was referenced in the gallery as well as in the geolocation pane. https://github.com/fossasia/gci15.fossasia.org/blob/gh-pages/img/gallery/quiz.png
![image](https://cloud.githubusercontent.com/assets/16363810/12377742/98cbd678-bd4d-11e5-80ef-5482191490bc.png)
So I don't think so I need to add it again.

[2016-01-17 13:44] jigyasa-grover commented on #477
Cool then !
Will edit the description again . Thanks for pointing that out @sumsupee

[2016-01-17 13:45] sumsupee commented on #477
:+1:

[2016-01-17 13:48] #477 closed

[2016-01-17 13:56] shiftsayan commented on #443
Alrighty @Yathannsh

[2016-01-17 13:56] #443 closed

[2016-01-17 14:10] shiftsayan commented on #479
I am working on this

[2016-01-17 14:13] jigyasa-grover commented on #479
@mariobehling I think we could increase the number of mentors and students from 4 in a row to 5 or 6 in a row, maybe ?

[2016-01-17 14:21] Yathannsh commented on #479
@shiftsayan , I am sorry just read this.
I have implemented 2/3 objectives of this issue in #483 . Could you work on the remaining which is, "change to eight in a row"? Thanks!

[2016-01-17 14:48] shiftsayan commented on #479
@mariobehling Bootstrap does not natively support 8 equal columns (since it uses a 12 column system), so we will have to have half width columns or have to use nested columns.

Instead we could do what @jig08 suggested to reduce length of the page

[2016-01-17 14:51] abishekvashok commented on #375
Hey done please see it at https://github.com/fossasia/gci15.fossasia.org/pull/486 and since a lot of PR are there please quickly accept it after reviewing @mariobehling @jig08 @sudheesh001

[2016-01-17 17:22] yasoob commented on #473
@jig08 This issue is good to close :+1:

@Yathannsh if your commit closes an issue then add "closes #issue_numer" instead of "fixes #issue_number" in your commit message. This automatically closes the respective issue when your commit is merged. :smile:

[2016-01-17 17:25] jigyasa-grover commented on #473
@yasoob Thanks. For the reminder and also for the tip. @Yathannsh Keep that in mind :)
Good going everyone !

[2016-01-17 17:25] #473 closed

[2016-01-18 03:52] Yathannsh commented on #476
Working on this

[2016-01-18 04:36] Yathannsh commented on #473
Will keep that in mind. Thanks @jig08 @yasoob!

[2016-01-18 08:14] Yathannsh commented on #476
@mariobehling This can be closed now! :+1:

[2016-01-18 08:21] #476 closed

[2016-01-18 12:36] abishekvashok commented on #375
See my PR please and review and accept it (if possible and you think it is satisfactory) : https://github.com/fossasia/gci15.fossasia.org/pull/498

[2016-01-18 12:51] #375 closed

[2016-01-18 12:55] abishekvashok commented on #121
Thanks @jig08 I am going to minimize all the code, and create a new folder called development where I will put all the development(un-compressed files in it) and that would be fun right :)

[2016-01-18 13:22] SaptakS commented on #121
I think the main problem is the images... Most of the images are much bigger than whats needed in the website.. So I guess the sizes can be reduced..

[2016-01-18 14:05] abishekvashok commented on #121
@SaptakS would do that too! Be sure to merge less request as I will occassionaly get conflicts as I am modifying large amount of code ok :) @jig08 . I would do it within 20 minutes please accept it then itself before conflicts arise

[2016-01-18 14:34] Abhi2424shek commented on #121
Need 10 more minutes coding part done now optimizing images

[2016-01-18 16:12] Abhi2424shek commented on #121
Done checkout my PR : https://github.com/fossasia/gci15.fossasia.org/issues/121

[2016-01-18 17:10] iKhushPatel opened #508 "Add Copyright Details"
I want to add copyright details for the new year of 2016 at the end of website.

[2016-01-18 17:10] iKhushPatel commented on #508
@sudheesh001  Can i do this ?

[2016-01-18 17:26] abishekvashok commented on #121
Any help from mentors would be highly appreciated I give up out of ideas, my each try failed guys :( But still confiendet I could do it tomarrow with all your help @mariobehling @yasoob @shiftsayan @roonyh @jig08 @sudheesh001 @nikunjness can you all shoot some suggestions

[2016-01-18 17:48] samarsault commented on #448
@Abhi2424shek Yes.

[2016-01-18 18:32] shiftsayan commented on #121
If you are working with the new images @Abhi2424shek , you could try lossless compression.

[2016-01-18 18:36] shiftsayan commented on #121
Google PageSpeed Insights suggests we should minify the code, but we should be careful because some tasks revolve around editing the JS and CSS files. Also, GPSI suggests we should eliminate render blocking JS and CSS in above fold content.

You could try to implement these changes @Abhi2424shek

[2016-01-18 18:47] sumsupee opened #511 "Spilling out of names from the respective places"
There is a spill of the long names in the website out of their respective containers which makes it a bit messy. It would be better if the names do not interfere with other's profiles or spill out of the page.
![issue1](https://cloud.githubusercontent.com/assets/16363810/12399721/c1dfaf4a-be41-11e5-8d0b-d9762bb4d4a3.PNG)
![issue2](https://cloud.githubusercontent.com/assets/16363810/12399722/c1e2a5

[2016-01-18 20:21] jigyasa-grover commented on #511
@sumsupee Would you like to work on this ?

[2016-01-19 09:22] sumsupee commented on #511
@jig08 I would like to give others a chance.

[2016-01-19 10:51] abishekvashok commented on #448
Then can you help me in minizmizing javascript in Jekyll @samarjeet27

[2016-01-19 15:48] jigyasa-grover commented on #511
@sumsupee No issues :)

[2016-01-19 17:15] shubh1m commented on #511
@sumsupee @jig08 I would like to work upon this.

[2016-01-19 17:16] jigyasa-grover commented on #511
@iamshubh22 Go ahead !

[2016-01-19 18:15] abishekvashok commented on #121
Done, mentors next I would compress(optimize javascript) Here's link to PR there's also the status so please check them out: https://github.com/fossasia/gci15.fossasia.org/pull/520 . @jig08 @mariobehling @SaptakS @roonyh

[2016-01-19 18:22] yasoob opened #522 "Auto cropping images using PIL"
Hey guys! Can we add a Python script to auto-crop images? I have made a sample script. It is really simple and easy:

[code]

Now you can run this:

[code]

You can also specify multiple filenames:

[code]

**Note:** You need to have PIL and Python installed.

[2016-01-19 19:00] shubh1m commented on #511
@jig08 it would be better if we skip out the middle names. Keeping in mind another issue #479 the space for each name is going to be even less when there will be 8 names in a row. What's your opinion?

[2016-01-19 20:09] yasoob opened #526 "Newsletter prompt is not user-friendly"
The newsletter prompt in the footer is not user-friendly. The white color of the button's text makes it unreadable. Additionally, the input color is also white so whatever you write in the input is not visible. Moreover, there should be some margin between the input and the button.
![screenshot from 2016-01-20 01 06 59](https://cloud.githubusercontent.com/assets/3696393/12430618/578fa5d8-bf12-11e5

[2016-01-19 20:52] iamshubh22 commented on #526
@yasoob I would like to work upon this.

[2016-01-19 21:38] jigyasa-grover commented on #526
+1. This section needs improvement.
@yasoob Why not make a prompt that slides up from the bottom instead of the right side as in your previous PR ?

[2016-01-19 22:00] pythad commented on #522
Hi @yasoob, I also thought about this ;) Your script won't deal with `.png` or any other than `.jpg` extensions. Can we deal somehow with this?

[2016-01-20 08:42] Abhi2424shek opened #529 "Make the lights out section more attractive"
Hey guys the light's out section is'nt having that much standard as the rest of the page. The color also looks not that much great :) I hope someone will resolve this and the mentors would agree with this issue
![untitled-2](https://cloud.githubusercontent.com/assets/8947010/12443693/b3523aee-bf7f-11e5-958c-2fe82315dbef.png)

[2016-01-20 09:16] #511 closed

[2016-01-20 10:46] iamshubh22 opened #533 "Regarding "View blog posts" section"
Number of blogs should be adjusted to 4 in a row.

![screenshot from 2016-01-20 15-51-18](https://cloud.githubusercontent.com/assets/13465950/12446570/c360d2a4-bf90-11e5-90ce-95de4baf87e1.png)
![screenshot from 2016-01-20 15-51-29](https://cloud.githubusercontent.com/assets/13465950/12446571/c3bf6774-bf90-11e5-8a17-9bf58c035dfc.png)

[2016-01-20 10:47] mananwason commented on #533
Agreed @iamshubh22. Feel free to fix it :+1:

[2016-01-20 10:48] shubh1m commented on #533
@mananwason Ok, I will see to it

[2016-01-20 11:29] Abhi2424shek commented on #397
@mariobehling here's one more (I have included - Agon)

[2016-01-20 11:51] mananwason commented on #397
@Abhi2424shek I have updated the list till the last commit. Please see to it that you atleast include the github profile for the mentors you are adding. Thanks!

[2016-01-20 11:59] abishekvashok commented on #397
@mananwason please see to it that you have accepted my PR and note:  Agon and Lisa mentors are already there and about sqaushing can't do it beacse when I squash two commits I get a third commit holding the changes of the 1st and 2nd commits

[2016-01-20 12:13] jigyasa-grover commented on #395
@yasoob +1.
Closing this Issue along-with PR #422 for now.

[2016-01-20 12:13] #395 closed

[2016-01-20 14:37] sumsupee commented on #397
@mariobehling @mananwason Hello! The wrong mentor-Andre has been checked in the list. It is André Rebentisch who is currently there on the GCI FOSSASIA website and not Andre Hentschel.

[2016-01-20 14:42] jigyasa-grover commented on #397
@sumsupee Corrected :)

[2016-01-20 14:51] jigyasa-grover commented on #529
@Abhi2424shek Would you like to work on this ?

[2016-01-20 15:18] abishekvashok commented on #529
@jig08 sure but I completed most of my tasks on GCI for the website! But if you want I may work it out, but really I posted it for other students so that they could earn points! I may work if you want. I would be happy too :)

[2016-01-20 15:25] mananwason commented on #529
:+1:

[2016-01-20 16:01] #533 closed

[2016-01-20 16:16] jigyasa-grover commented on #529
@Abhi2424shek No issues, We shall let someone else work on it.

[2016-01-20 16:19] abishekvashok commented on #529
Ok I just wanted to give me fellows a chance to work on @jig08 #social commitment. Like me they also want to be a grand prize winner right? :) - laughing out loud

[2016-01-20 17:00] mananwason commented on #529
Hey man. Calm down !! This is open to everyone. If you think you can solve the issue, feel free to do so, if you think that you can't then someone else will come and do it.

[2016-01-20 17:36] yasoob commented on #526
But it would still cover the footer when it slides in. I don't think I am getting what you are saying.

[2016-01-20 17:38] yasoob commented on #522
@pythad My script deals with `png` files as well as `jpeg` files. The hardcoded file extensions make it appear as if it is only for `jpeg` files :smile: Let me put up some updated code.

[2016-01-20 18:00] SaptakS commented on #529
@Abhi2424shek  at the end of the day its completely your own decision.. So, take your call if you want to do it.. Else someone will..

[2016-01-20 18:02] codethejason commented on #522
Looks good - would definitely help with the problem of weirdly sized images if it is run consistently.

[2016-01-20 18:03] yasoob commented on #522
Here is the updated code which works for both, jpeg and png, files.

[code]

[2016-01-20 19:07] yasoob commented on #511
I guess you can specify the width of the container of names without omitting the middle names. Issue #511 will not be resolved anytime soon because Bootstrap does not provide a default class for slicing a row into 8 equal columns. :smile:

[2016-01-20 19:10] yasoob commented on #508
Hey @iKhushPatel Just go ahead and submit a pull request :smile: Best of luck! :+1:

[2016-01-20 20:07] mariobehling opened #552 "Fix section issue e.g. Student Gallery and Loklak Heatmap do not work anymore"
- [x] student gallery - cannot click on works, no more bottom list, forward/back link does not work
- [ ] student gallery - please move items like games and geolocation projects to other areas
- [x] heatmap - show map and search button again

[2016-01-20 20:36] jmurzaku commented on #529
i can work on this task if you don't want @Abhi2424shek

[2016-01-20 21:39] JamMurz commented on #529
@Abhi2424shek i have this issue fixed but havent commited it yet tell me if you still want to do it

[2016-01-21 08:55] mariobehling commented on #479
Please reduce the number of contributors in the column to 12 in a row then. Thank you.

[2016-01-21 08:56] mariobehling commented on #529
Please keep the style of the headings (same font, same font size)

[2016-01-21 10:55] mariobehling opened #558 "Add a fork me on github on the top right"

[2016-01-21 11:01] mariobehling opened #559 "Add section "latest issues" to website by using the GitHub API"
**Objective**

Create a section "latest issues" in a sorted list with issues tagged with the label "feature". Please use the [github API](https://developer.github.com/v3/issues/) to get the data

**Requirements**

- use Github API https://developer.github.com/v3/issues/
- website is http://gci15.fossasia.org

**Expected Outcome**

- sorted list of [issues in this repository](https://github.com/fos

[2016-01-21 11:10] abishekvashok commented on #529
hey @mananwason I never got angry and I won't. I am laughing typing all these! :) Wanna have a click from my web cam in my uniform! :-) [Hey is there a laughing emoji I can use in GitHub) ? :)

[2016-01-21 11:36] abishekvashok commented on #559
I wanna work in this seems cool

[2016-01-21 13:22] mananwason commented on #559
Go ahead @Abhi2424shek.

[2016-01-21 15:33] #479 closed

[2016-01-21 16:26] yasoob commented on #558
I am working on this. :+1:

[2016-01-21 16:27] mananwason commented on #558
Awesome @yasoob. Assigning you :smile:

[2016-01-21 16:27] yasoob commented on #559
Hey @Abhi2424shek If you want to use laughing emoji then use this: `:laughing:`

[2016-01-21 16:45] rohangoel96 commented on #526
I am working on this.

[2016-01-21 17:05] yasoob commented on #558
Hey @mananwason @mariobehling  it covers the Google Code-in banner. What do you suggest?
![screenshot from 2016-01-21 22 04 03](https://cloud.githubusercontent.com/assets/3696393/12487912/0265a326-c08b-11e5-906a-b6aee7f38e0d.png)

[2016-01-21 17:06] mananwason commented on #558
Can you shift this under the code in batch @yasoob ?

[2016-01-21 17:33] yasoob commented on #558
@mananwason I didn't get you. What do you mean by _under the **code in batch**_?

[2016-01-21 17:39] jigyasa-grover commented on #558
@yasoob , I guess @mananwason  means beneath the `Google Code-In` badge on the nav bar...

[2016-01-21 17:41] mananwason commented on #558
Yes @yasoob I meant beneath the google code in batch

[2016-01-21 17:44] yasoob commented on #558
@mananwason Do you mean like this?
![screenshot from 2016-01-21 22 43 34](https://cloud.githubusercontent.com/assets/3696393/12489083/738ee756-c090-11e5-924d-8e702e3a291c.png)

[2016-01-21 17:44] jigyasa-grover commented on #526
@yasoob In your earlier PR, the newsletter prompt used to slide from the right towards the left. Could we make it such that it slides up from the bottom of the page such that it doesn't cover the social media buttons located at the right side ? I hope this is clearer.

@rohangoel96 Sure, send in a PR .

[2016-01-21 17:45] mananwason commented on #558
Yea Exactly @yasoob

[2016-01-21 17:52] yasoob commented on #558
@mananwason I have submitted a PR :smile:

[2016-01-21 17:57] jig08 opened #567 "Improving/Reverting the changes done to *Lights Out* section"
**Edit:** I believe some changes were made to the **Lights Out !** owing to Issue #529 which makes it stand out from others not in a good way. The heading and style doesn't gel with the other sections' formatting.

![screenshot from 2016-01-21 23 33 42](https://cloud.githubusercontent.com/assets/9291400/12489773/fe93bbb8-c097-11e5-80a1-c26d455ee371.png)

***
**Prev:** I believe some changes were m

[2016-01-21 18:01] mananwason commented on #567
@jig08 Seems good to me !!
<img width="1436" alt="screen shot 2016-01-21 at 11 30 08 pm" src="https://cloud.githubusercontent.com/assets/10570249/12489584/0b60f21c-c097-11e5-896f-3b955f6a53de.png">

[2016-01-21 18:06] jigyasa-grover commented on #567
@mananwason Oh Yes, seems to be working fine now. I shall edit the issue.
But In my opinion, the heading and style doesn't gel with the other sections' formatting.

[2016-01-21 18:08] mananwason commented on #567
Yes @jig08, I agree. @codethejason is fixing this in #554

[2016-01-21 18:08] jigyasa-grover commented on #567
Cool !

[2016-01-21 18:30] yasoob opened #570 "Duplicate img files in students pics folder"
Almost every pic has a duplicate. For instance, my profile pic, `yasoob.jpg` has a duplicate named `yasoob-1.jpg`. Where are the duplicate files being used? I did a `grep` but wasn't able to find any place where they are being used. Kindly let me know if they are useless so that I can clean the folder from duplicates.

[2016-01-21 18:37] mananwason commented on #570
@yasoob I believe that @Abhi2424shek Didn't delete the older images when he added new one in https://github.com/fossasia/gci15.fossasia.org/commit/56cf2fd0fcfabd7e9bd6901e7504b917c01a3a69

[2016-01-21 18:46] yasoob commented on #570
Ok. Let me remove them then. The optimal size for the Profile pics is `240x240`. Right?

[2016-01-21 18:59] mananwason commented on #570
yes @yasoob

[2016-01-21 19:00] #526 closed

[2016-01-21 19:01] #570 closed

[2016-01-21 22:32] Elgayar commented on #508
Hello, I would like to do this issue since it is not done yet, can I?

[2016-01-22 00:16] mariobehling commented on #558
Please do not keep the Fork me on Github on the page when the user scrolls up. Expected behaviour: User scrolls up and the bar scrolls below header menu.

[2016-01-22 05:01] jig08 commented on #508
@Elgayar Sure, go ahead. Submit a PR and we shall review :)

[2016-01-22 08:08] yasoob commented on #558
That is easy. We just need to set the position to "absolute" instead of
"fixed". I will happily fix it later today.

On Fri, 22 Jan 2016 5:16 AM Mario Behling notifications@github.com wrote:

[2016-01-22 13:44] yasoob commented on #529
Hey @Abhi2424shek the short-code for the laughing emoji is `:laughing:` but I don't think that you should use it too much.

[2016-01-22 13:46] yasoob commented on #567
Hey @jig08 I shared some of my suggestions in [this PR](https://github.com/fossasia/gci15.fossasia.org/pull/573). What do you think about them?

[2016-01-22 14:34] jigyasa-grover commented on #567
Thanks @yasoob :)
Hope incorporating them brings out a better look.

[2016-01-22 14:35] jigyasa-grover commented on #558
@yasoob Cool. Let know when you send an updated PR for this.

[2016-01-22 14:49] yasoob commented on #558
@jig08 First let's resolve #572 and then I will submit a PR for this issue :+1:

[2016-01-22 14:54] jigyasa-grover commented on #558
Merged #572

[2016-01-22 15:21] #558 closed

[2016-01-22 16:13] eMBee commented on #415
given the target audience, adding a link on the website somewhere would be the best.
since your site, like this one is for students learning about Free Software, showing them how the site was created is very meaningful.

a reference in the readme for those who check the source would of course be good too.

[2016-01-22 16:17] jigyasa-grover commented on #415
+`1 @eMBee

[2016-01-22 16:26] abishekvashok commented on #529
not laughing - smiling

[2016-01-22 16:27] mananwason commented on #529
@Abhi2424shek Then use `:smile:`

[2016-01-22 17:16] abishekvashok commented on #529
:smile: Thanks for teaching out now I can have drop downs on pressing the semi-colon key ':' and typing a letter. Thanks for that I have only used to be posting in a forum called planet-cricket where I used to be developing bats(May provide a link and it was years old however the quality was great) for cricket 07. There were strict manners there and also it's my second coding experience after the

[2016-01-22 19:01] Elgayar commented on #508
Hey Mentors!
I'm back with a new task done!!! :D It was the silliest actually :P

Pull Request, I have successfully added Copyright Details:
https://github.com/fossasia/gci15.fossasia.org/pull/589

Tweet Link:
https://twitter.com/MostafaaGayar/status/690608510405599232

Demo:
http://elgayar.github.io/gci15.fossasia.org

Thanks!!

[2016-01-23 09:03] abishekvashok commented on #559
Ok @mananwason  to get to the topic, I have a doubt! Ok so should I pickup all the issues which are labeled feature and open of the fossasia organisation or this gci15.fossasia.org repo. Please reply soon :)

[2016-01-23 10:39] mananwason commented on #559
@Abhi2424shek It is clearly mentioned in the description by @mariobehling. He has given you the link for this repo's issues.

[2016-01-23 11:16] abishekvashok commented on #559
K but there are not tasks labeled 'feature' in the issue's section which are open. Be sure to create some :) . Sorry if the last question was a bit mad one.

[2016-01-23 12:06] abishekvashok commented on #559
Done check PR: https://github.com/fossasia/gci15.fossasia.org/pull/602 @mariobehling @mananwason  . Be sure to  rename this issue as improve issues section or create a new issue for other students to work on :) . Lastly thanks for keeping faith in me.
- Enjoying last working days at GCI

[2016-01-23 15:23] jmurzaku commented on #567
@jig08 is this issue fixed now? :smiley:

[2016-01-23 16:21] mananwason commented on #567
@JamMurz I think so. We can close this for now.

[2016-01-23 16:21] #567 closed

[2016-01-23 16:37] mananwason commented on #559
Closed via #605

[2016-01-23 16:37] #559 closed

[2016-01-23 16:39] mananwason commented on #529
Closed via #590

[2016-01-23 16:39] #529 closed

[2016-01-23 16:40] mananwason commented on #415
@Daksh I think we can close this now. Cheers!

[2016-01-23 16:40] #415 closed

[2016-01-23 17:07] JamMurz opened #612 "Make github issues section look nicer"
![issue](https://cloud.githubusercontent.com/assets/9733795/12531477/c9a070bc-c1c9-11e5-8ff7-55ca53086894.PNG)
currently, when no issues show up on github, it looks like this. Maybe adding larger text and more colorful text would hep and make it look nicer?

[2016-01-23 17:07] jmurzaku commented on #612
I can work on fixing this

[2016-01-23 17:11] mananwason commented on #612
Go ahead :+1: You can add some catchy phrases as well. Let's see your creativity :stuck_out_tongue_winking_eye:

[2016-01-23 17:24] yasoob commented on #612
It appears fine on my end.

![screenshot from 2016-01-23 22 23 56](https://cloud.githubusercontent.com/assets/3696393/12531575/0fc70f3c-c220-11e5-8e3d-8708a2f6cd9a.png)

[2016-01-23 17:26] yasoob commented on #478
I guess this issue is good to close @jig08 :+1:

[2016-01-23 17:27] jmurzaku commented on #612
<img width="1132" alt="screen shot 2016-01-23 at 12 26 58 pm" src="https://cloud.githubusercontent.com/assets/9733795/12531594/ac562472-c1cc-11e5-9aad-5dfef7b6dcea.png">
oops, looks good to me now too after i refreshed a couple times. Sorry for that!

[2016-01-23 17:27] Daksh commented on #415
https://github.com/Daksh/SugarLabsGCI2015/commit/f1d1d822e8fcab7b4b79a40fa8731686dcbfaa6b added it in this commit :D @mananwason @jig08 @eMBee
Cheers!

[2016-01-23 17:27] #612 closed

[2016-01-23 17:28] jigyasa-grover commented on #478
Okay @yasoob . Closing this...

[2016-01-23 17:28] #478 closed

[2016-01-23 17:31] yasoob commented on #522
I don't think we need this for now. If we ever need to implement such a feature in future then we can take a look at [this project](https://github.com/zroger/jekyll-minimagick). It seems quite promising. By using it we can also keep using Ruby and not introduce a Python dependency. :+1:

[2016-01-23 17:31] #522 closed

[2016-01-23 17:32] yasoob commented on #552
Loklak Heatmap does not work because the Cloud9 backend-website has been stopped by the owner. Let me see if I can fix it.

[2016-01-23 17:36] yasoob commented on #367
- [x] We now serve scaled images.

Moreover, I don't think we can remove the query strings from static resources as most of those resources require them to work properly. What are your suggestions @vicky002 & @jig08 ?

[2016-01-23 17:36] mananwason opened #614 "Blog posts section doesn't show the text instead redirects to the blogs itself."
@codethejason Feel free to work on this and file a PR

[2016-01-23 17:36] mananwason commented on #614
@codethejason Feel free to work on this and file a PR

[2016-01-23 17:44] mananwason commented on #367
@yasoob Let's keep this open for now. We'll see what happens the query strings are removed. I think it should work but I'm not sure. @vicky002 views?

[2016-01-23 17:58] vicky002 commented on #367
Caching of Static Resources like CSS and JavaScript plays an important role in page loading time. Query Strings prevents Caching of Static Resources on Proxy servers and on browsers. By Removing Query Strings from Static Resources you can enable caching of static resources and can achieve a significant improvement in page load speed with less page load time.

Let's fix this tomorrow. Before removi

[2016-01-23 18:01] #614 closed

[2016-01-23 18:02] mananwason commented on #367
Awesome @vicky002

[2016-01-23 18:07] JamMurz opened #616 "Button stopped working in lights section"
![capture](https://cloud.githubusercontent.com/assets/9733795/12531811/2912524c-c1d2-11e5-85cf-b8e51bbb926f.PNG)
![capture](https://cloud.githubusercontent.com/assets/9733795/12531813/41caa9e2-c1d2-11e5-9b92-e6df526bd3be.PNG)
When I click the button, it does not work anymore. Can I fix this by changing the scope of the function i wrote?

[2016-01-23 18:22] jmurzaku commented on #616
@mananwason the button works now, can i close the issue?

[2016-01-23 18:23] mananwason commented on #616
Yeah. Go ahead!

[2016-01-23 18:24] #616 closed

[2016-01-23 18:28] Yathannsh opened #618 "Loklak services down"
All Loklak services seem not to work!  :fearful:
Have a look below:
![333](https://cloud.githubusercontent.com/assets/12641346/12531923/b3810f5e-c22c-11e5-8527-f83daac80133.PNG)
<br>
![44](https://cloud.githubusercontent.com/assets/12641346/12531931/dcfce402-c22c-11e5-900b-edaf1c1c5343.PNG)

The Loklak server is prompting a 500 error code

[2016-01-23 18:29] jmurzaku commented on #616
@mananwason if i find minor issues in the future like this one do i have to open an issue on the repo,or can i just fix the issue without opening an issue?

[2016-01-23 18:30] mananwason commented on #616
@JamMurz It would be better if you open an issue, helps us in tracking better.

[2016-01-23 18:31] jmurzaku commented on #616
@mananwason ok, thank you very much for your help! :+1:

[2016-01-23 18:32] mananwason commented on #616
Great @JamMurz !! My pleasure :smile:

[2016-01-23 18:38] Yathannsh commented on #618
Loklak is back online! :metal:

[2016-01-23 18:38] #618 closed

[2016-01-23 18:59] Yathannsh opened #622 "Newsletter Prompt issues"
* The Newsletter prompt is not visible on devices with less than a width of 325px
![sec4](https://cloud.githubusercontent.com/assets/12641346/12532069/7f711098-c230-11e5-9dba-466bf066c462.PNG)

* The Newsletter prompt is unresponsive on devices with a width greater than 325px
![nrsz](https://cloud.githubusercontent.com/assets/12641346/12532110/93b991f0-c231-11e5-9576-1163d5c58ffb.PNG)

[2016-01-23 19:01] yasoob commented on #622
Let me resolve these issues. :+1:

[2016-01-23 19:03] Yathannsh commented on #622
Sure @yasoob!
You are the best suited to fix this, since you designed it :+1:

[2016-01-23 19:09] Yathannsh opened #624 "Overflowing of Names"
Large names overflow and hence overlap the following container :
![sd](https://cloud.githubusercontent.com/assets/12641346/12532147/70a8cac2-c232-11e5-8fab-050d61e2a4b0.PNG)

There are two ways to solve this problem:

* Splice off the extra characters
* Add ellipsis after the letter the name starts overflowing, the same way it was implemented in the contributor's section:

![fds](https://cloud.git

[2016-01-23 19:14] yasoob commented on #624
This is simple to solve as well. Just add `overflow ellipsis` classes to `h4` name tags.

[2016-01-23 19:17] Yathannsh commented on #624
@yasoob , yess'
Just looking for the best suited solution!

[2016-01-23 19:22] Yathannsh opened #625 "Slider indicator bug"
The number of indicators and the number of photographs do not correspond
![11](https://cloud.githubusercontent.com/assets/12641346/12532230/a0845304-c234-11e5-9d16-a23dbb39e9b0.PNG)

[2016-01-23 19:25] Yathannsh opened #626 "Non-responsive blog section"
![22](https://cloud.githubusercontent.com/assets/12641346/12532253/35278102-c235-11e5-906b-ac7e517cbf10.PNG)

[2016-01-23 19:31] #622 closed

[2016-01-23 19:33] Yathannsh opened #627 "Lights out section issues"
1) This is how the section looks on small screen sizes:
![s](https://cloud.githubusercontent.com/assets/12641346/12532273/0087406c-c236-11e5-98f2-bffdcbf254ad.PNG)

2) There is a problem with avatar's placement
![lo2](https://cloud.githubusercontent.com/assets/12641346/12532278/24aff560-c236-11e5-9aad-2509790fa8d0.PNG)

[2016-01-23 19:33] yasoob opened #628 "G+ div is over-flowing on small screen sizes."
G+ div is not responsive. This is causing the width of the html page to increase on small screen sizes.

![img](https://cloud.githubusercontent.com/assets/12641346/12532199/cc056f6e-c233-11e5-9709-deae321907f2.PNG)

[2016-01-23 19:35] mananwason commented on #627
@JamMurz would you like to work on this?

[2016-01-23 20:33] jmurzaku commented on #627
@mananwason yes ill work on this

[2016-01-23 21:29] Juanvulcano commented on #367
@vicky002 @mananwason I would like to work in removing the query strings.
So far I've only found examples using Wordpress Plugins, do you know any site on github pages that removes query strings? Maybe I could help on that script :+1:

[2016-01-23 23:25] iamshubh22 opened #634 "Every contributor name is printing 2 times in contributors section."
![screenshot from 2016-01-24 04 53 40](https://cloud.githubusercontent.com/assets/13465950/12533490/b42fd0d2-c256-11e5-8708-546979bbb5b8.png)
![screenshot from 2016-01-24 04 53 54](https://cloud.githubusercontent.com/assets/13465950/12533491/b432fba4-c256-11e5-977f-87c26dba1114.png)

[2016-01-23 23:28] iamshubh22 opened #635 "Fork on Github badge is not displayed with screen's between the sizes of 770px - 1100px"
![screenshot from 2016-01-24 04 55 09](https://cloud.githubusercontent.com/assets/13465950/12533506/1a262936-c257-11e5-8f27-b0c99b676a62.png)

[2016-01-23 23:29] iamshubh22 opened #636 "View blogs section is not active"
![screenshot from 2016-01-24 04 53 28](https://cloud.githubusercontent.com/assets/13465950/12533509/3b63759a-c257-11e5-93a0-b0258c0184c0.png)

[2016-01-24 02:27] codethejason commented on #636
@iamshubh22 Try viewing it now. It should work.

[2016-01-24 05:53] #627 closed

[2016-01-24 05:55] mananwason commented on #627
@Yathannsh @JamMurz I don't think the button size or anything else in particular need improvement. You can maybe work on some kind of styling to make it look better but it seems good to me now also. Thanks for your contributions :smile:

[2016-01-24 06:01] #624 closed

[2016-01-24 06:02] #625 closed

[2016-01-24 06:20] #636 closed

[2016-01-24 08:13] sudo-panda commented on #635
I think this problem is solved
![foss](https://cloud.githubusercontent.com/assets/16690760/12535137/7bd30432-c29e-11e5-977e-8480ed96ccf0.PNG)
![foss1](https://cloud.githubusercontent.com/assets/16690760/12535143/acfe65ce-c29e-11e5-87ab-b9807fce345f.PNG)

[2016-01-24 08:14] jigyasa-grover commented on #626
@Yathannsh Would you like to work on this ?

[2016-01-24 08:17] jigyasa-grover commented on #635
I think it still persists. The nav bar font size needs to be adjusted .

[2016-01-24 08:20] mananwason commented on #635
Looks fine to me @jig08. Can you provide a screenshot where this issue still persists?

[2016-01-24 08:23] jigyasa-grover commented on #635
Sure @mananwason
Here it comes.
Chrome Version 47.0.2526.73 (64-bit)

![screenshot from 2016-01-24 13 52 18](https://cloud.githubusercontent.com/assets/9291400/12535206/bef3f9f8-c2a1-11e5-8012-d3d53b2d64b9.png)

[2016-01-24 08:30] jigyasa-grover commented on #634
Doesn't seem to be an issue on my end ....

[2016-01-24 08:31] jigyasa-grover commented on #628
@yasoob Would you like to work on this ?

[2016-01-24 08:33] mananwason commented on #635
okay I think you're seeing the cached version. I used safari and chrome(Version 47.0.2526.111 (64-bit) and it is working fine here!!
<img width="1440" alt="screen shot 2016-01-24 at 1 59 17 pm" src="https://cloud.githubusercontent.com/assets/10570249/12535235/bf2fc054-c2a2-11e5-9127-9b67768224b1.png">
<img width="1440" alt="screen shot 2016-01-24 at 2 00 24 pm" src="https://cloud.githubusercontent

[2016-01-24 08:38] sudo-panda commented on #635
And in Chrome Version 47.0.2526.111 m 64-bit it does not exist.
![foss2](https://cloud.githubusercontent.com/assets/16690760/12535261/4c076478-c2a3-11e5-9648-75f8ebc77194.PNG)

[2016-01-24 08:39] Baidya99 commented on #635
Can I something irrelevant of this topic

[2016-01-24 08:40] sudo-panda commented on #635
Can I ask something irrelevant of this topic

[2016-01-24 08:40] jigyasa-grover commented on #635
Sure @Baidya99

[2016-01-24 08:41] sudo-panda commented on #635
How to tell someone via github that his code is wrong.

[2016-01-24 08:42] jigyasa-grover commented on #635
@mananwason  I have this issue on Firefox 41.0 too (not viewing a cached version this time)

![screenshot from 2016-01-24 14 10 04](https://cloud.githubusercontent.com/assets/9291400/12535303/4ee22664-c2a4-11e5-814c-0285297c8b89.png)

[2016-01-24 08:43] jigyasa-grover commented on #635
@Baidya99
You could create an issue on his/her repository.
In my opinion, that is the best option to put forward your thoughts about his/her code.
Rest, it all varies from person to person :)

[2016-01-24 08:44] sudo-panda commented on #635
The first two images I sent were from Firefox 44.0

[2016-01-24 08:46] sudo-panda commented on #635
Actually I copied the FOSS quiz(in the gallery section of fossasia website) and tried to compile it but it showed an error.

[2016-01-24 08:46] sudo-panda commented on #635
*FOSS Quiz code

[2016-01-24 09:55] Yathannsh commented on #634
@jig08 same here!
There was this issue a few hours back, seems to be resolved now.
This is good to be closed :+1:

[2016-01-24 09:56] Yathannsh commented on #626
@jig08 , sure I will try and fix this in a while!

[2016-01-24 09:57] mananwason commented on #634
Cool. Closing it. Could you maybe mention the commit number here @Yathannsh. Thanks !

[2016-01-24 09:57] #634 closed

[2016-01-24 10:00] jigyasa-grover commented on #626
@Yathannsh Go ahead..

[2016-01-24 10:02] jig08 commented on #634
Yes @Yathannsh  , as @yasoob had suggested mention `closes <Issue Number>` in your PR so that  it automatically does the needful :)

[2016-01-24 10:05] Yathannsh commented on #508
Can a website be licensed under  GNU GENERAL PUBLIC LICENSE and have copyrights at the same time?

[2016-01-24 10:08] mananwason commented on #508
I'm not sure @Yathannsh. @mariobehling @creativepsyco Views?

[2016-01-24 10:13] Elgayar commented on #508
I didn't know, if that was right I think this issue shouldn't have been accepted in the first place :D

[2016-01-24 10:16] jigyasa-grover commented on #635
Okay.. ?

[2016-01-24 10:27] Yathannsh commented on #635
Given the positioning, size and shape of the Fork Me ribbon it will be hard to make it responsive.
I suggest adding a fork me button in the navigation instead. Thoughts? @jig08 @mananwason

[2016-01-24 10:34] Yathannsh commented on #634
@mananwason ,this was possibly a gh-pages build problem, was fixed by itself!

[2016-01-24 10:36] mananwason commented on #635
@Yathannsh If it's visible enough, we can leave it as it is. If the issue that @jig08 pointed still persists, we can think about adding a button.

[2016-01-24 10:38] mananwason commented on #634
Awesome!!

[2016-01-24 10:50] Yathannsh commented on #635
@mananwason the visibility is subjective to the user's screen size, just as @jig08 people with screen widths less than 1100px will be facing this problem.

[2016-01-24 10:56] jigyasa-grover commented on #635
+1 @Yathannsh ,   I just tested on another device with a larger size and it works fine on it.
But issue persists on smaller screens.

[2016-01-24 11:14] mananwason commented on #635
Just tested on a nexus 5, looks fine there as well. :confused:
![screenshot_20160124-164035](https://cloud.githubusercontent.com/assets/10570249/12535909/799494ea-c2b9-11e5-9c51-22846f75e732.png)

[2016-01-24 11:18] mananwason commented on #635
Oh Now I get it. When I resize my browser to a certain width, the navigation buttons start appearing and since they can't be fixed into the space along the fossasia logo, they overflow to the next line and when the space for them becomes sufficient, the fork me logo is visible.

[2016-01-24 11:18] Yathannsh commented on #635
@mananwason , right, this issue persists for user's with screen's between the sizes of 770px -  1100px!

[2016-01-24 11:21] jigyasa-grover commented on #635
@mananwason Exactly !

[2016-01-24 12:01] mariobehling commented on #552
Gallery is not fixed. Issue should not have been closed.

[2016-01-24 13:37] Yathannsh opened #660 "Contributor's Card Display issue"
Currently whilst hovering over any contributor's picture the whole place holder is highlighted, and the GitHub link is not appropriately display.
![2016-01-24](https://cloud.githubusercontent.com/assets/12641346/12536513/990af18e-c2cd-11e5-9ec9-1bf4d98db98c.png)

[2016-01-24 13:40] jigyasa-grover commented on #660
@Yathannsh Help us improve this :)

[2016-01-24 13:42] Yathannsh commented on #660
Sure here you go @jig08  #661  :smiley:

[2016-01-24 13:42] #660 closed

[2016-01-24 13:46] jigyasa-grover commented on #660
Awesome !

[2016-01-24 13:54] mananwason opened #662 "Fix shadow for tweets from loklak"
Looks like the tweets holder is at a greater height than the rest.
<img width="1440" alt="screen shot 2016-01-24 at 7 22 21 pm" src="https://cloud.githubusercontent.com/assets/10570249/12536599/e9fb82f0-c2cf-11e5-9620-398ca47729e8.png">

[2016-01-24 19:16] yasoob commented on #628
Sorry I wasn't here :smile: I will work on this tomorrow. :+1:

[2016-01-24 19:17] yasoob commented on #635
We can easily resolve this by using a media query. Let me push a fix.

[2016-01-24 19:23] yasoob commented on #662
The `box-shadow` value is the same for all divs. :confused: Can you further clarify this issue please?

[2016-01-24 19:24] mananwason commented on #662
Just look at it in the website. It visually looks like it is at a different height than the others. It even has some shadow on the fb badge below it.

[2016-01-24 19:25] mananwason commented on #635
Awesome. Go ahead :+1:

[2016-01-24 19:25] mananwason commented on #628
:+1:

[2016-01-24 19:34] yasoob commented on #635
Done :smile:

[2016-01-24 19:35] #635 closed

[2016-01-24 19:41] yasoob opened #671 "New Images are greater than 240x240"
Most new contributors are uploading images which are greater than 240x240. In some cases they are greater than 1000px.

[2016-01-24 19:53] mananwason commented on #671
@jig08 @SaptakS @samarjeet27 @nikunjness Please take care of size of the images while merging

[2016-01-24 20:02] yasoob commented on #662
Should we just reduce the shadow for tweets div without interfering with other social divs then?

[2016-01-24 20:04] mananwason commented on #662
Yeah I think that this should do the trick. Let's see.

[2016-01-25 05:57] jig08 opened #679 "Picture-Name mismatch in *Students*"
Student **Yasmin** and **Ravina** have the same picture showing up due to the error in [`_data/students.yml#L683
`](https://github.com/fossasia/gci15.fossasia.org/blob/gh-pages/_data/students.yml#L683)
cc: @wavicles

![12508981_1100689356618038_2817839854732357350_n](https://cloud.githubusercontent.com/assets/9291400/12543564/98d13816-c356-11e5-88a3-51e17329d5dd.jpg)

[2016-01-25 17:00] #679 closed

[2016-01-25 18:38] imharrymargalotti commented on #671
has this been fixed yet? i can resize the images

[2016-01-25 18:41] mananwason commented on #671
Mostly @imharrymargalotti. @yasoob did add couple of resized images. But would be great if you can go through the images and find out if some of the images are still greater than 240x240. If yes you can resize them and create a PR. Cheers !

[2016-01-25 18:43] yasoob commented on #671
@imharrymargalotti Just as @mananwason stated, there are still a couple of images which require re-sizing. Perhaps you can re-size them and submit a PR? :+1:

[2016-01-26 17:55] vicky002 commented on #367
@mananwason @jig08  We can close this issue for now.
Site has a lot of content and images. We can actually improve site speed just by fixing those images.

I'm marking this as done for now and creating another issue. We also need to mentioned somewhere about images. Size of the image should be fixed that is width and height (240 x 240) and max size(memory) of the image that can be decided after th

[2016-01-26 17:59] mananwason commented on #367
Go ahead @vicky002 :+1: .We have an issue #671 for reducing size of images.

[2016-01-26 17:59] mananwason commented on #671
@imharrymargalotti Are you working on this?

[2016-01-26 18:00] #367 closed

[2016-01-26 18:13] vicky002 opened #700 "Tasks to improve site speed"
- [ ] **Specifying a width and height for all images.**
     Specifying a width and height for all images allows for faster rendering by eliminating the need for unnecessary reflows and repaints.
- [x] **Defer parsing of JavaScript**: In order to load a page, the browser must parse the contents of all `<script>` tags, which adds additional time to the page load. By minimizing the amount of JavaScr

[2016-01-26 18:14] vicky002 commented on #700
@mananwason @jig08  This is what we need to do, this can improve the site speed by 30-40%.

[2016-01-26 18:17] mananwason commented on #700
Awesome @vicky002. @jig08 @yasoob @codethejason We should start working on this. Cheers guys!

[2016-01-26 22:16] jmurzaku commented on #700
@mananwason can i work on this too?

[2016-01-26 22:26] #397 closed

[2016-01-26 22:28] mariobehling opened #704 "Get the top right GCI menu image back"
- [ ] There was a nice GCI image on the top right of the main menu. Please get it back in.
- [ ] Move menu item "Github Issues" into submenu of students projects

[2016-01-26 22:29] #662 closed

[2016-01-26 22:31] imharrymargalotti commented on #671
yes, sorry i submitted my pull request, all photos are the proper size now and or a little smaller, and i converted some to .jpg in the process of resizing them

[2016-01-26 22:33] mariobehling opened #705 "Add missing Privly stickers into Privly section"
Stickers are here: https://github.com/fossasia/gci15.fossasia.org/tree/gh-pages/img/privly

[2016-01-26 22:34] mananwason commented on #700
@JamMurz go ahead :smile:

[2016-01-27 08:04] #626 closed

[2016-01-27 11:49] Abhi2424shek commented on #455
what did you actually mean by the above

[2016-01-27 12:10] jigyasa-grover commented on #704
**`Check`** There was a nice GCI image on the top right of the main menu. Please get it back in.
**`Check`** Move menu item "Github Issues" into submenu of students projects.

@mariobehling Closing this Issue.
Nice work @codethejason :)

[2016-01-27 12:10] #704 closed

[2016-01-27 12:12] jigyasa-grover commented on #705
Added.

[2016-01-27 12:12] #705 closed

[2016-01-27 12:15] jigyasa-grover commented on #121
@seadog007 @Yathannsh @codethejason @yasoob @mananwason @shiftsayan @MaxBorsch
What updates do we have on this issue ?

[2016-01-27 13:20] abishekvashok commented on #121
I may help @jig08

[2016-01-27 16:24] codethejason commented on #121
We can probably close this issue @jig08. Another issue #700 has already been created, and we can start with those improvements.

[2016-01-27 16:26] jigyasa-grover commented on #121
As you say @codethejason .

[2016-01-27 16:26] #121 closed

[2016-01-27 16:27] jigyasa-grover commented on #700
Great suggestions @vicky002 .

[2016-01-27 18:27] mariobehling opened #710 "Move projects (that have a dedicated section) from student Gallery into a separate section"
The "student gallery" is clustered. There are so many projects inside, that it is difficult to see, what cool projects are in there. Let's uncluster it.
- [ ] Move Mobile apps and Android projects into a new section "Mobile Apps" (and take them out of the student gallery)
- [ ] Move FOSS Quiz to a section "Quiz" and take them out of the gallery
- [ ] Move lights out to section "Lights Out" and del

[2016-01-27 18:41] yasoob commented on #552
Hey @mariobehling Can we close this issue and only keep #710 open? The remaining issue is almost similar in both of these issues.

[2016-01-27 21:16] JamMurz opened #712 "Mentors and students dont show"
<img width="787" alt="screen shot 2016-01-27 at 4 15 37 pm" src="https://cloud.githubusercontent.com/assets/9733795/12628459/4005fc96-c511-11e5-87ea-2d7c357694e3.png">
anyone else having this issue?

[2016-01-27 21:17] jigyasa-grover commented on #712
Yess !

[2016-01-27 21:17] mananwason commented on #712
Yes !! Me too :confused:

[2016-01-27 22:34] imharrymargalotti commented on #712
anyone know why this happened?

[2016-01-27 22:55] yasoob commented on #712
I have tracked the issue and submitted the PR.

[2016-01-27 22:56] mananwason commented on #712
Great @yasoob!!

[2016-01-27 22:57] imharrymargalotti commented on #712
@yasoob what happened?

[2016-01-27 22:58] #712 closed

[2016-01-27 22:59] mananwason commented on #712
@imharrymargalotti #713

[2016-01-27 23:00] yasoob commented on #712
@imharrymargalotti Someone had removed

[code]

from the start of `index.html` file. These lines are required by jekyll to render the page correctly. :)

[2016-01-28 11:12] abishekvashok commented on #700
@jig08 hey can you help on how do we put on g-zip compression on jekyll. Googling is not helping

[2016-01-28 11:51] jigyasa-grover commented on #700
I remember reading it somewhere that GitHub **gzip**'s the content automatically.

Anyways, I did check the _HTTP Response Header_ of [gci15.fossasia.org](http://gci15.fossasia.org/) [here](http://www.rexswain.com/cgi-bin/httpview.cgi) and the result showed it to be true.

[code]

[2016-01-28 12:00] vicky002 commented on #700
Hi @jig08  This is great! I wasn't knowing this. Just read this : [GitHub as a CDN](http://code.lancepollard.com/github-as-a-cdn/) yeah GitHub gzip's content automatically!

I'm marking that issue as done. :+1:

[2016-01-28 12:00] abishekvashok commented on #700
So can we mark it as done @jig08 @vicky002 or remove that. Google is offering minimized code at page insights, so you want me to help out

[2016-01-28 12:02] abishekvashok commented on #552
I think @yasoob is right @mariobehling

[2016-01-28 12:04] jigyasa-grover commented on #700
@vicky002 Cool !
@Abhi2424shek This sub-issue has been ticked off for now. So yes, Done.

[2016-01-28 12:06] abishekvashok commented on #508
@mananwason here's the data from the faq section of open source :

**You are not required to claim a copyright on your changes. In most countries, however, that happens automatically by default, so you need to place your changes explicitly in the public domain if you do not want them to be copyrighted.
Whether you claim a copyright on your changes or not, either way you must release the modified v

[2016-01-28 12:08] abishekvashok commented on #700
@jig08 I also think that most of the image tags in the code has the width and the height specified @vicky002 ! Any opinions

[2016-01-28 12:19] vicky002 commented on #700
@Abhi2424shek Please check the doc mentioned in the issue.

[2016-01-28 12:21] abishekvashok commented on #700
@vicky002 got it. See my PR guys

[2016-01-28 15:59] jmurzaku commented on #700
It appears a huge slow down to the website is the loklak heatmap

[2016-01-28 16:05] abishekvashok commented on #700
@vicky002 got another PR, why not you too check it out @JamMurz - Defer parsing of JavaScript completed. check it at https://github.com/fossasia/gci15.fossasia.org/pull/717

[2016-01-29 22:59] codethejason opened #718 "Github Icons are Off Centered"
The Github icons in the contributor section are not vertically aligned after the avatar size change.

![scrn](http://puu.sh/mOEsb/231730e384.jpg)

[2016-01-30 08:09] abishekvashok commented on #718
Would get a fix @codethejason

[2016-01-30 12:40] yasoob opened #719 "Do we use style.scss file?"
Do we really utilize the [style.scss](https://github.com/fossasia/gci15.fossasia.org/blob/gh-pages/scss/style.scss) file anywhere?

[2016-01-30 14:44] abishekvashok commented on #719
scss files are used to be more powerful {They can include variables,nesting, mixins, inheritance etc}. They are compiled into css files.I think it's compiled in ruby. **I think it is used in the website**. You may see the code and **it looks like it controls the sliders**. So I think we have this done. But don't close unless the official word from the mentors arrive, got it @yasoob.

[2016-01-30 15:13] roonyh commented on #719
I think @Yathannsh could give us this information. As he [authored it](https://github.com/fossasia/gci15.fossasia.org/blame/gh-pages/scss/style.scss)

[2016-01-30 15:17] roonyh commented on #508
@Yathannsh Yes. of course the authors can keep copyright and release the code under GPL terms.

[2016-01-30 15:18] #508 closed

[2016-01-30 15:23] abishekvashok commented on #719
Let me try removing it and let me run some check locally. @roonyh the site seems that it does not need the scss file as the styles here seems locally ok without it. But I surely think that some css file in the stylesheets folder is a compiled version of it and that is why Yathnash put it there. But we will wait for the  words of Yathannsh :)
- Happy coding

[2016-01-30 15:27] Abhi2424shek commented on #719
@roonyh the site it think does not need the scss file as the styles here seems locally ok without it. But I surely think that some css file in the stylesheets folder is a compiled version of it. But we will wait for the  words of Yathnash :)

[2016-01-30 15:38] roonyh commented on #719
@Abhi2424shek Thanks for checking! yeah lets wait for @Yathannsh. I too don't think we use any scss files since we don't do any build step where we compile them to css. And github pages doesnt do this to the best of knowledge.

[2016-01-30 15:41] abishekvashok commented on #719
Your's Welcome @roonyh . Let's wait for Yathannsh. I may give him a call or a message {I have his phone number}, if it's not low priority here.

[2016-01-30 16:08] Yathannsh commented on #719
@yasoob @roonyh , we don't need the scss file now.
 I had authored it in CSS and kept a copy in SCSS as well keeping in mind a probable migration to SCSS. Now that we have the website working on CSS, I will send a commit to remove it.
@Abhi2424shek , thanks for reaching out to me! :+1:

[2016-01-30 16:15] Yathannsh commented on #508
@roonyh thanks for the clarification! :+1:

[2016-01-30 16:28] Yathannsh opened #721 "Loklak Tweet Search not working"
The tweet search fails to retrieve data through ajax.
Could someone recheck?

[2016-01-30 16:32] Yathannsh commented on #721
Seems to work now, was a temporary server-side issue.

[2016-01-30 20:31] codethejason commented on #718
Cool @Abhi2424shek you can do it if you would like :).

[2016-01-31 04:06] abishekvashok commented on #718
or you may too @codethejason

[2016-01-31 04:08] abishekvashok commented on #719
@Yathannsh yours welcome, and @roonyh mind merging the change {the PR was pushed by Yathnash}

[2016-01-31 04:09] abishekvashok commented on #721
@Yathannsh let me check

[2016-01-31 12:12] #719 closed

[2016-01-31 12:13] jigyasa-grover commented on #718
So who's working on it ?

[2016-01-31 15:18] abishekvashok commented on #718
@jig08 whom you want it to be on.

[2016-01-31 15:36] codethejason commented on #718
@jig08 I can do it later if @Abhi2424shek isn't working on it. I thought he wanted to do it originally.

[2016-01-31 15:57] abishekvashok commented on #718
@jig08 Ok i would take it up @codethejason , actually i thouht you were working on it .

[2016-01-31 17:05] jigyasa-grover commented on #718
@codethejason Guess let @Abhi2424shek work on it ..

[2016-01-31 17:07] codethejason commented on #718
@jig08 Sure no problem.

[2016-01-31 17:11] jigyasa-grover commented on #718
:)
Hope you don't mind.
You can certainly work on other issues ...

[2016-02-01 14:25] abishekvashok commented on #721
@Yahannsh it's working please check it.
@jig08 @roony @mariobehling @mananwason - I think we could close this issue now since it is working fine!

[2016-02-01 14:42] jigyasa-grover commented on #721
Yes. Seems to work just fine @Abhi2424shek .
@Yathannsh Closing this for now :)

[2016-02-01 14:42] #721 closed

[2016-02-01 16:22] abishekvashok commented on #718
Done guys @jig08 @codethejason , close this issue. I done it as the part of the PR: https://github.com/fossasia/gci15.fossasia.org/pull/724

[2016-02-01 22:37] jigyasa-grover commented on #718
Hey @codethejason , Aint the PR still open ?
Let's wait till it gets merged :)

[2016-02-01 22:38] codethejason commented on #718
Sorry @jig08, reopened!

[2016-02-01 22:38] jigyasa-grover commented on #718
No issues ..

[2016-02-02 12:21] abishekvashok commented on #718
@jig08 sorry for that I fetched a wrong code.. Would submit a new PR

[2016-02-02 12:34] jigyasa-grover commented on #718
Okay.

[2016-02-03 06:06] SilentFlame commented on #710
@mariobehling
Is this task done, or can I start doing this?

[2016-02-03 07:03] jigyasa-grover commented on #710
@SilentFlame The issue has not been resolved completely. There are certain projects in gallery which need to shifted to their dedicated sections. Also the nav arrows in the gallery do not seem to work any longer.

[2016-02-03 12:24] SilentFlame commented on #710
@jig08
can you please guide me through the projects needed to be shifted to their dedicated sections.

As I can only see 1 project present in the Gallery section, and have no idea which section it really belongs to.

[2016-02-03 17:15] nitin10s opened #728 "Add image to img/privly with file name - nitin"
![final2](https://cloud.githubusercontent.com/assets/16988558/12790335/cd806866-cac7-11e5-935a-6adbc7a7cc10.png)

[2016-02-04 03:03] sumsupee commented on #728
@nitin10s You haven't elaborated what the issue is!

[2016-02-04 08:46] SilentFlame commented on #455
@mariobehling  can you please be a bit more descriptive about this issue.
would like to work on this issue.

[2016-02-04 11:21] abishekvashok commented on #728
@nitin10s please close this issue, it's never an issue if you added a sticker

[2016-02-05 12:32] nitin10s commented on #728
No actually i am new to github and coding so can you guys help me the way to add my stickers to img/privly section

[2016-02-05 16:33] sumsupee commented on #728
@nitin10s Hello, you don't have to do much, but just edit the following details of the code present in the angle brackets and add it to index.html file.

I hope you have already added your stickers to the `img/privly` in the .PNG format.

[code]

If you have anymore problems with Github, have a look at [GIT.md](https://github.com/fossasia/gci15.fossasia.org/blob/gh-pages/GIT.md)

And if you've fur

[2016-06-12 13:36] mariobehling opened #731 "GCI Site loading slowly"
Find out why site is loading slower now and implement faster loading.

[2016-06-12 23:58] Yathannsh commented on #731
The primary reason for the slow speed seems to be the large chunk of user data, specifically uncompressed images. Some loklak dependencies are also slowing down speed. Along with that minimizing JS, HTML & CSS will increase the speed and shouldn't be a problem to implement now as we don't have major changes being made onto them. @codethejason & I will push some fixes by tonight or figure out a wor

[2016-12-04 15:34] abishekvashok commented on #731
@mariobehling Its worked out

[2016-12-04 16:28] Abhi2424shek opened #734 "Contributors are not showing up"
See the website, the contributors are not being shown, it will lead to trouble. I am getting in a PR

[2016-12-04 16:55] abishekvashok commented on #734
See PR #736

[2016-12-04 18:52] oanarosca opened #737 "Github Issues section not working anymore"
I will work on fixing the issues section of the website, and also try to get rid of some of the errors in the console while doing it.

[2016-12-04 19:35] hemantjadon commented on #737
@oanarosca sure please work on this

[2016-12-04 21:51] niccokunzmann opened #738 "Travis: check image size"
Create a travis script that checks for image sizes and fails if images are too big

[2016-12-05 01:39] abishekvashok commented on #734
Since PR #736 is merged we could close this right @niccokunzmann

[2016-12-05 01:42] abishekvashok commented on #734
I would need more work please wait till I get back. I would also fix the dialing Travis build, sorry for that I got the contributors section that is why I pushed a PR @niccokunzmann

[2016-12-05 09:35] niccokunzmann commented on #734
@Abhi2424shek Yes, I see the contributors' section is filled. I will close it since you seem to agree!

[2016-12-05 09:35] #734 closed

[2016-12-05 09:39] niccokunzmann commented on #734
@Abhi2424shek If you like to work more on this website, please create an issue for the things you see have to be done which describes the problem.
After this, you can comment and be assigned to it if you like to work on it.
Somehow the contributors did not show up, after I merged the PR. Now they are visible, so I just closed the issue. If you have any questions, please ask :)

[2016-12-05 11:23] abishekvashok commented on #734
@niccokunzmann it's not a problem and for my task accept when I get the Travis ok because I like to work. :)

[2016-12-06 12:11] #737 closed

[2016-12-15 10:00] ankitrgadiya commented on #738
We can use one that is being used in gci16 Site, Imgchecker.rb
I can do that.

[2016-12-17 11:29] abishekvashok commented on #671
@yasoob @mananwason we added a test to it it's called ImageChecker it integrates with travis via PR #741

[2016-12-18 10:39] #738 closed

[2016-12-31 08:00] pipix51 opened #742 "Deleting Unecessary Information?"

[2016-12-31 08:01] pipix51 commented on #742
Should we delete the Loklak Peers section as well as the Lights Out button (only)? There are no more peers in the Loklak Peers section and the Lights Out button does not seem to have any effect on the webpage.

[2016-12-31 10:43] abishekvashok commented on #742
@pipix51 fix the lights section it was created to have a javascript action which toogles the light on and off in the browser!!!

[2017-01-03 09:25] jigyasa-grover commented on #742
@pipix51 Yes, both features used to work, pls fix them.

[2017-01-03 10:43] Elgayar opened #743 "Add Smooth Scrolling for Internal Navigation Links"
I think it would be better if we add jQuery Smooth Scrolling for the links inside the website. It will make it look more professional.

[2017-01-03 13:18] #742 closed

[2017-01-03 13:18] #743 closed

[2017-01-06 15:03] Witus13 opened #746 "Facebook widget and blog posts overflowing"
![image](https://cloud.githubusercontent.com/assets/19410489/21721603/4ec57f68-d429-11e6-9094-4f3afc781490.png)
![image](https://cloud.githubusercontent.com/assets/19410489/21721606/51233066-d429-11e6-8c67-d2090032914a.png)

We need to:
- [ ] Make Facebook widget responsive
- [ ] Make blog cards responsive

[2017-01-06 15:04] myfrom commented on #746
Can I take it as part of this year GCI?

[2017-01-07 02:16] abishekvashok commented on #746
Go on

[2017-01-07 18:51] #746 closed

[2017-05-23 10:04] abishekvashok commented on #728
@jig08 this one too #722

[2017-05-23 10:26] #728 closed

[2018-02-01 22:05] #455 closed

[2018-02-01 22:05] #628 closed

[2018-02-01 22:05] #671 closed

[2018-02-01 22:06] #700 closed

[2018-02-01 22:07] mariobehling opened #751 "Geolocation section broken"
The geolocation section of the site is broken as many have moved their links. Please update the section as follows:
* Check if you can find the code and data and if you find it move it to this repo and include it
* If you cannot find code and data remove the icon that is broken

![screenshot from 2018-02-01 23-04-40](https://user-images.githubusercontent.com/1583873/35706024-89f3fb6e-07a4-11e8-906

[2018-02-01 22:09] mariobehling opened #752 "Contributors section not showing images"
The contributors section does not show all the images probably because of an API update. Please update the API calls and fix it.

![screenshot from 2018-02-01 23-08-29](https://user-images.githubusercontent.com/1583873/35706134-e814838a-07a4-11e8-9392-3f8868a4dc74.png)

[2018-02-01 22:12] mariobehling opened #753 "Header section not loading"
The header section is not loading, probably due to an external dependency. Please take out the relevant external dependency and add a relevant Javascript into the repo and ensure the header loads as desired.

[2018-02-01 22:15] mariobehling opened #754 "Play/Pause button on header"
There is a play/pause button on the header, that does not have any purpose. Take out this button and if there is a dependency to an external service, delete it and substitute it with a js library that can be included in the repo itself.

![screenshot from 2018-02-01 23-14-15](https://user-images.githubusercontent.com/1583873/35706364-caf6a62e-07a5-11e8-8aa7-46062658d406.png)

[2018-02-01 22:19] #754 closed

[2018-02-01 22:23] #552 closed

[2018-02-01 22:23] #710 closed

[2018-02-01 22:23] #718 closed

[2018-02-01 22:23] #731 closed

[2018-02-09 11:48] mariobehling opened #756 "Create info section below header"
The info section should include:
* 500+ students
More than 250 students successfully completed tasks in Google Code-In with FOSSASIA, a contest for 13-17 year olds.

* 1200+ tasks
1549 tasks were completed this year, from solving issues, to building web apps, setting up applications and creating blog posts.

* 51 mentors
Mentors are developers, engineers, university students, professors, and gener

[2018-02-09 11:52] mariobehling opened #757 "Update nokogiri dependency defined in Gemfile.lock"
The nokogiri dependency defined in Gemfile.lock has a known bug in version range < 1.8.1 and needs to be updated.

[2018-05-08 17:24] adi44 commented on #756
I would like to work on this issue

[2018-05-09 01:49] yashLadha commented on #756
GFI @adi44

[2018-05-09 02:51] adi44 commented on #756
ok Thanks

[2018-05-13 15:43] adi44 commented on #752
This Issue has been already resolved. Please close it.

[2018-06-08 14:44] adsk261095 commented on #752
@mariobehling is the issue still open??

[2018-06-08 14:51] #752 closed

[2018-06-08 15:00] adsk261095 commented on #756
@yashLadha @mariobehling is the enhancement done ??

[2019-10-09 17:08] maitreyav commented on #756
I'd like to work on this issue, @mariobehling.

[2020-01-20 09:37] NishithP2004 opened #768 "Remove G+"
Please remove the links to Google Plus present in the site as they are extinct.

[2020-01-20 17:58] NishithP2004 commented on #768
@mariobehing Please review

[2020-10-07 19:14] Ayaan2907 commented on #756
@mariobehling  is this issue resolved? @adi44 @maitreyav are people resolving this? I would like to work on this issue.

[2020-10-11 19:53] Sakshi-007 commented on #756
I'd like to work on this issue. @mariobehling

[2020-10-14 16:02] sahilempire commented on #756
I'd like to work on this issue. **@mariobehling** . As I am new in this field so **please guide** me through.

[2020-11-20 08:45] praweenkr01 commented on #751
sir may I work on this issue?

[2021-01-06 13:47] praweenkr01 commented on #753
sir may i work on this ?

[2021-06-01 12:11] Shubham56-droid commented on #756
i would  like  to work on the issue

[2021-06-01 14:30] abishekvashok commented on #756
Heyya, would be awesome if you could concentrate in the sister projects such as open event. These web projects were made durig a competiton and doesn't serve its value now.

[2021-06-01 17:37] shubhagarwal283 commented on #768
i like to work in this project

[2021-06-04 11:15] SamikshaSankar opened #773 "social media slider"
Changes in social media slider which is present in footer

Solution:
When user can scroll social media bar will be fixed
![git](https://user-images.githubusercontent.com/52104082/120793113-1f6b9100-c554-11eb-8177-d108ed0e174f.jpg)

[2021-06-04 11:20] SamikshaSankar opened #774 "Adding top-button"
When user can scroll down by using top-button they can go to the home directly(Same page).

[2021-06-08 21:43] mohit200008 commented on #757
can i work on this?

[2021-12-08 13:33] NirajGOD commented on #751
Sir I can Try It❤

[2021-12-21 15:00] DawnArchi01 commented on #774
Confused if this is this still open ?

[2022-01-23 06:21] Krish-bhardwaj commented on #773
I am interested to fix this issue. I request you to allow me to fix it. can you assign me this issue

[2022-04-21 21:00] ajay2582 commented on #751
I wanna work on this issue. Please assign this to me and since i am new to this repository, So please guide me though.
Thankyou

[2022-05-29 19:03] mkarjun opened #785 "Proposal: Make fossasia.org http to https"
It would be good if we make the site ssl certified. Feel free to close the issue. I'm new to opensource , just thought why its not secured.

[2022-09-28 17:01] Manish-Syal123 commented on #785
can you please tell me that where this site is hosted.

[2022-10-03 11:05] Ayush-Kori commented on #753
Sir  Is this open please assign this project to me ??

[2022-11-25 09:16] mkarjun commented on #785
The site is hosted with Cloudflare. @Manish-Syal123

From my analysis, I think the site is not in use as its GCI 2015
As the issue remains of no significance closing the issue

[2022-11-25 09:16] #785 closed

[2022-11-25 09:26] Manish-Syal123 commented on #785
Thanks for info